<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body class="paper">

<div th:replace="components/layout :: navbar"></div>

    <div class="container margin-top-2x margin-bottom-2x padding-2x">
        <div class="row">
            <div class="col-12 offset-md-2 col-md-8 hero">
                <h1 class="text-center margin-bottom">Une Plateforme pour Partager tes Idées</h1>
                <h4 class="text-center margin-bottom">
                    Crée ton Blog, Publie test Idées, Bati ton Audience.
                </h4>
                <p class="text-center">
                    <a id="btn-join-1" class="btn btn-primary btn-lg" href="/me"  wutsi-track-event="create_blog">Démarre ton Blog</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container margin-top-2x margin-bottom-2x padding-2x">
        <div class="row">
            <div class="col-12 col-md-5">
                IMG
            </div>

            <div class="col-12 col-md-7 padding-2x box-filled">
                <h1 class="margin-bottom">Ça Coûtte Combien?</h1>
                <h4 class="margin-bottom">
                    Rien du tout! C'est <strong class="highlight">Gratuit</strong>.
                </h4>
                <p class="margin-bottom">
                    Partager ses Idées ne devrait pas avoir de prix.<br/>
                    Il faut plutôt encourager leur diffusion pour améliorer notre société!
                </p>
                <p class="text-center">
                    <a id="btn-join-3" class="btn btn-primary btn-lg" href="/me" wutsi-track-event="create_blog">Démarre ton Blog</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container margin-top-2x margin-bottom-2x padding-2x">
        <h1 class="margin-bottom text-center">Ça Marche Comment?</h1>

        <div class="row">
            <div class="col-12 col-md-4 padding">
                <h4>Ecris</h4>
                <p>
                    Laisse libre cours à ton imagination pour écrire dans des Stories tes Idées, Opinions, Etats d'âme
                </p>
            </div>
            <div class="col-12 col-md-4 padding">
                <h4>Publie</h4>
                <p>
                    Ta Storie va etre publiée sur les Réseaux Sociaux, Newsletters pour rejoindre une audience le plus large possible.
                </p>
            </div>
            <div class="col-12 col-md-4 padding">
                <h4>Analyse</h4>
                <p>
                    Utilise les outils d'Analyses pour comprendre ton Audience et ses Intérets.
                </p>
            </div>
        </div>
        <div class="row margin-top">
            <div class="col-12  text-center">
                <a id="btn-join-2" class="btn btn-primary btn-lg" href="/me" th:text="#{button.create_blog}" wutsi-track-event="create_blog" wutsi-track-value="how_it_works">Join Wutsi</a>
            </div>
        </div>
    </div>

<div th:replace="components/layout :: footer"></div>
</body>
</html>
