<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container main-content border margin-top padding-2x settings">

    <div class="row">
        <div class="col-12 col-md-2 picture">
            <img id="my-picture" th:src="${user.pictureUrl}" />
            <button class="btn-upload btn btn-sm btn-light margin-top" th:text="#{button.change}">Upload Logo</button>
            <input id="file-upload" class="hidden" type="file" />
        </div>
        <div class="col-12 col-md-10">
            <div>
                <div th:replace="components/settings :: inline_input_form(title=#{label.username}, name='name', value=${user.name}, maxlen=128, control='input', type='text', placeholder=#{page.settings.username.placeholder})"></div>
            </div>
            <div class="border-top margin-top padding-top">
                <div th:replace="components/settings :: inline_input_form(title=#{label.email}, name='email', value=${user.email}, maxlen=100, control='input', type='email', placeholder=#{page.settings.email.placeholder})"></div>
            </div>
            <div class="border-top margin-top padding-top">
                <div th:replace="components/settings :: inline_input_form(title=#{label.biography}, name='biography', value=${user.biography}, maxlen=200, control='textarea', type='', placeholder=#{page.settings.bio.placeholder})"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>

</body>

<script>
    $('.btn-edit').click(function(){
        begin_edit( $(this).attr('data-key') );
    });
    
    $('.btn-cancel').click(function(){
        cancel_edit( $(this).attr('data-key') );
    });

    $('.btn-save').click(function(){
        const key = $(this).attr('data-key');
        const selector = '#' + key + '-form';
        const name = $(this).attr('data-key');
        const value = $(selector + ' .form-control').val();

        save_attribute(name, value)
            .then(function(data){
                if (data.error) {
                    show_error(key, data.error);
                } else {
                    end_edit(key);
                }
            });
    });

    $('.form-control').keyup(function(){
        const key = $(this).attr('data-key');
        validate(key);
    });

    $('.btn-upload').click(function(){
        $('#file-upload').click();
    });

    $('#file-upload').change(function(){
        const form = new FormData();
        const file = $(this).prop('files')[0];

        console.log('Uploading ', file);
        if (file.type.startsWith('image/')) {
            form.append('file', file);

            wutsi.httpPost('/upload', form)
                .then(function (data) {
                    save_attribute('pictureurl', data.url)
                        .then(function () {
                            $('#my-picture').attr('src', data.url)
                        });

                });
        }
    });

    function save_attribute(name, value) {
        const data = {
            name: name,
            value: value
        };
        return wutsi.httpPost('/me/settings', data, true);
    }

    function begin_edit(key) {
        const selector = form_selector(key);

        $(selector + ' .btn-edit').addClass('hidden');
        $(selector + ' .toolbar').removeClass('hidden');

        $(selector + ' .form-control').removeAttr('disabled');
        $(selector + ' .form-control').focus();

        $(selector + ' .old-value').val( $(selector + ' .form-control').val() );

        validate(key);
    }

    function cancel_edit(key) {
        const selector = form_selector(key);

        $(selector + ' .form-control').val( $(selector + ' .old-value').val() );
        end_edit(key);
    }

    function end_edit(key) {
        const selector = form_selector(key);

        $(selector + ' .toolbar').addClass('hidden');
        $(selector + ' .btn-edit').removeClass('hidden');

        $(selector + ' .form-control').attr('disabled', 'disabled');

        $(selector + ' .old-value').val('');

        $(selector + ' .alert-danger').addClass('hidden');
    }

    function validate(key) {
        const selector = form_selector(key);

        if (!$(selector + ' .form-control')[0].checkValidity()){
            console.log('not-valid');
            $('.btn-save').attr('disabled', 'disabled');
        } else {
            console.log('valid');
            $('.btn-save').removeAttr('disabled');
        }
    }

    function show_error(key, error) {
        const selector = form_selector(key);

        $(selector + ' .alert-danger').html(error);
        $(selector + ' .alert-danger').removeClass('hidden');
    }

    function form_selector(key) {
        return '#' + key + '-form';
    }
</script>
</html>
