<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" th:lang="${page.language}">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body id="create-container">

<div th:replace="components/layout :: navbar"></div>

<div class="container">
    <div class="row margin-bottom-4x">
        <div class="col-12 offset-md-1 col-md-10 margin-top-2x">

            <div class="main-content border padding-2x text-center margin-top-2x">
                <h1 th:text="#{page.create.title}">Create your Blog</h1>
                <div class="value-prop text-center margin-top-2x">
                    <ul>
                        <li><i class="fas fa-check"></i> <span th:text="#{page.create.why.option1}">Its Free</span></li>
                        <li><i class="fas fa-check"></i> <span th:text="#{page.create.why.option2}">A website for your Blog</span></li>
                        <li><i class="fas fa-check"></i>  <span th:text="#{page.create.why.option3}">Your own mailing list</span></li>
                        <li><i class="fas fa-check"></i>  <span th:text="#{page.create.why.option4}">Simple editor that supports text/image/video/audio</span></li>
                        <li><i class="fas fa-check"></i>  <span th:text="#{page.create.why.option5}">Integrated analytics for your Blog statistics</span></li>
                    </ul>

                    <a id="btn-create" class="btn btn-lg btn-primary margin-top" href="/create/name" wutsi-track-event="create_blog" th:text="#{button.start_blogging}">
                        Create your Blog for Free
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>


</body>
</html>
