<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" th:lang="${page.language}">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div class="container">
    <div class="row margin-top-4x margin-bottom-4x">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6 margin-top-2x">

            <div class="main-content border padding-2x text-center margin-top-2x">
                <div th:replace="components/story :: wizard(6, 6)"></div>

                <h1 class="margin-top" th:text="#{page.create.header1}">Login</h1>
                <h4 class="margin-top" th:utext="#{page.create.info.picture}"></h4>

                <div class="alert alert-danger padding-top" th:if="${error}" th:text="${error}">Error</div>

                <form class="margin-top-2x" method="GET" action="/create/picture/submit">
                    <div class="text-center">
                        <img class="logo" th:src="${value}" width="64" height="64"/>
                        <input id="file-upload" class="hidden" type="file" />
                    </div>

                    <input id="picture-url" type="hidden" name="value" th:value="${value}" />
                    <div class="form-text text-muted" th:text="#{page.create.hint.picture}"></div>

                    <div class="margin-top-2x">
                        <a id="btn-previous" class="btn btn-light float-left" href="/create/biography" th:text="#{button.previous}">Previous</a>
                        <button id="btn-next" type="submit" class="btn btn-primary float-right" th:text="#{button.next}">Next</button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<script>

    $('img.logo').click(function(){
        $('#file-upload').click();
    });

    $('#file-upload').change(function(){
        const file = $(this).prop('files')[0];

        console.log('Uploading ', file);
        if (file.type.startsWith('image/')) {
            wutsi.upload(file)
                .then(function(data){
                    $('img.logo').attr('src', data.url);
                    $('#picture-url').val(data.url);
                });
        }
    });


</script>
<div th:replace="components/layout :: footer"></div>
</body>
</html>
