<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="components/layout :: sidebar"></div>
        </div>
        <div class="col-md-7 main-content">
            <form id="collection" th:action="@{/collection/create}" th:object="${collection}" method="post">
                <section>
                    <h1 th:text="#{addNewCollection}">Ajouter une Collection</h1>
                </section>

                <section>
                    <div class="form-group">
                        <label th:text="#{name}" class="required">Nom</label>
                        <input id="name" th:field="*{name}" class="form-control" required="required" maxlength="100" />
                    </div>
                    <div class="form-group">
                        <label for="short-description" th:text="#{short_description}">Short Description</label>
                        <textarea id="short-description" th:field="*{shortDescription}" class="form-control" rows="2" maxlength="150"></textarea>
                        <p class="form-text text-muted" th:text="#{collection.short_description.help}">Help</p>
                    </div>
                    <div class="form-group">
                        <label th:text="#{description}">Description</label>
                        <textarea th:field="*{description}" class="form-control ckeditor" rows="5"></textarea>
                    </div>
                </section>
                <div class="btn-group">
                    <button id="btn-submit" type="submit" class="btn btn-sm btn-primary" th:text="#{save}">Enregistrer</button>
                    <a id="btn-cancel" class="btn btn-sm" href="/collection" th:text="#{cancel}">Annuller</a>
                </div>
            </form>
        </div>

    </div>
</div>

<div th:replace="components/layout :: footer"></div>

</body>

</html>
