<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="components/layout :: sidebar"></div>
        </div>
        <div class="col-md-7 main-content">
            <section>
                <p>
                    <a id="btn-back-link" th:href="${linkBackUrl}">
                        <i class="fas fa-arrow-left"></i>
                        <span text="#{collections}">Collections</span></a>
                </p>
                <h1 th:text="${collection.name}">Name of Collection</h1>
            </section>

            <!-- Information -->
            <section id="section-info">
                <h3>
                    <span th:text="#{information}">Info</span>
                    <a id="btn-edit-info" class="btn btn-sm btn-primary float-right" th:href="${linkEditUrl}" th:text="#{edit}">Modifier</a>
                </h3>
                <table class="table">
                    <tbody>
                        <tr>
                            <td th:text="#{name}" class="label">Name</td>
                            <td th:text="${collection.name}">Name of Product</td>
                        </tr>
                        <tr th:if="${collection.shortDescription}">
                            <td th:text="#{short_description}" class="label">ShortDescription</td>
                            <td th:utext="${collection.shortDescription}">Description of Product</td>
                        </tr>
                        <tr th:if="${collection.description}">
                            <td th:text="#{description}" class="label">Description</td>
                            <td th:utext="${collection.description}">Description of Product</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- SEO -->
            <section id="section-seo">
                <h3>
                    <span th:text="#{searchEnginePreview}">SEO Preview</span>
                    <a id="btn-edit-seo" class="btn btn-sm btn-primary float-right" th:href="${linkSEOUrl}" th:text="#{edit}">Modifier</a>
                </h3>
                <div class="seo-card">
                    <div class="seo-title" th:text="${collection.seo.title}">Title</div>
                    <div class="seo-url" th:text="${collection.seo.url}">URL</div>
                    <div class="seo-description" th:text="${collection.seo.description}">Description</div>
                </div>
            </section>

            <!-- Products -->
            <section id="section-product">
                <h3 th:text="#{products}">Products</h3>
                <div id="product-container">
                    <span th:text="#{products.loading}">Loading</span>...
                </div>
                <script th:inline="javascript">
                /*<![CDATA[*/

                    $(document).ready(function(){
                        var collectionId = /*[[${collection.id}]]*/ '#';
                        $('#product-container').load('/product/list?collectionId=' + collectionId)
                    })

                /*]]>*/
                </script>
            </section>
        </div>

        <div class="col-md-3 sidebar">
            <section>
                <table class="table">
                    <tbody>
                        <tr>
                            <td th:text="#{created}" class="label">Cr&eacute;e</td>
                            <td th:text="${collection.creationDateTime}">1243430</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- Images -->
            <section id="section-image">
                <h3>
                    <span th:text="#{image}">Image</span>
                    <button id="img-upload"
                            class="btn btn-primary btn-sm float-right"
                            th:text="#{upload.image}"
                            th:data-id="${collection.id}"
                            th:data-upload-url="${linkUploadUrl}"
                            th:attrappend="data-image-url=${collection.image}?${collection.image.smallUrl}"
                    >Upload Image</button>
                </h3>

                <div class="m-2" th:utext="#{collection.image.specs}">Specs</div>
                <div th:replace="components/uploader :: upload('img-upload', null)"></div>
            </section>
            <script type="application/javascript">
                function uploader_uploaded(elementId, response, callback) {
                    var id = $('#' + elementId).attr('data-id');

                    $.ajax({
                        url: '/collection/' + id + '/image/add?imageId=' + response.asset.id
                    }).done(function () {
                        callback();
                    }).fail (function(data) {
                        wutsi.error('ERR_PRODUCT_ADD_IMAGE', data);

                    });
                }

                function uploader_removed(elementId, callback){
                    var id = $('#' + elementId).attr('data-id');

                    $.ajax({
                        url: '/collection/' + id + '/image/remove'
                    }).done(function () {
                        callback();
                    }).fail (function(data) {
                        wutsi.warn('ERR_PRODUCT_REMOVE_IMAGE', data);
                    });
                }
            </script>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>

</body>

</html>
