<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" th:lang="${page.language}">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar-blog(${user}, false, null)"></div>

<div class="container border main-content margin-top-2x padding-2x story-list">

    <h1 th:text="#{page.earning.title}">Stats</h1>

    <ul class="pagination">
        <li class="margin-right prev"> <a th:href="${previousYearUrl}" th:text="${previousYear}">Apr 2020</a></li>
        <li class="margin-right current"> <b th:text="${year}">May 2020</b></li>
        <li class="next"> <a  th:href="${nextYearUrl}" th:text="${nextYear}">Jun 2020</a></li>
    </ul>

    <div class="container-fluid">
        <div class="row margin-top-2x">
            <div class="col-12 col-md-6 padding margin-bottom">
                <h5 th:text="#{page.earning.kpi.total_earnings}">Total Earnings</h5>
                <h3 class="total-earning highlight" th:text="${total}" th:if="${total}">1,235</h3>
                <div class="no-earning" th:text="#{label.no_earning}" th:if="!${total}">No Revenu</div>
            </div>
        </div>

        <div id="wpp" class="row" th:if="${joinWPP}">
            <div class="col-12 offset-md-3 col-md-6 box-filled rounded border padding-2x text-center">
                <h5 th:text="#{page.earning.wpp}">Want to make $$</h5>
                <a id="btn-join" class="btn btn-primary margin-top" href="/partner" th:text="#{button.join_wpp}">Join Wutsi Partner Program</a>
            </div>
        </div>
    </div>

    <div id="chart-area" th:if="${total}"></div>
</div>

<div th:replace="components/layout :: footer"></div>

<link rel="stylesheet" href="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.css"  th:if="${total}">
<script src="https://uicdn.toast.com/tui.chart/latest/tui-chart-all.js"  th:if="${total}"></script>
<script th:inline="javascript" th:if="${total}">
    /*<![CDATA[*/

    const title = /*[[#{page.earning.kpi.earnings}]]*/'';
    const year = /*[[${year}]]*/'';

    function refresh_chart() {
        const url = '/me/earning/bar-chart-data?year=' + year;
        wutsi.httpGet(url, true)
            .then(function(data){
                const container = document.getElementById('chart-area');
                var options = {
                    chart: {
                        width: 800,
                        height: 400,
                        format: '1,000'
                    },
                    yAxis: {
                        title: title
                    },
                    xAxis: {
                        title: 'Date'
                    },
                    series: {
                        showLabel: false
                    },
                    chartExportMenu: {
                        visible: false
                    },
                    legend: {
                        visible: false,
                        showCheckbox: false
                    }
                };
                tui.chart.columnChart(container, data, options);
            })
    }

    $(document).ready(function(){
        refresh_chart();
    });


    /*]]>*/
</script>


</body>

</html>
