<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="components/layout :: sidebar"></div>
        </div>
        <div class="col-md-7 main-content">
            <section>
                <h2 th:text="#{config.subscription.title}">Title</h2>
                <div th:text="#{config.subscription.description}">Description</div>
            </section>

            <form id="subscribe-form" th:action="@{'/settings/subscription/subscribe}" th:object="${subscription}" method="post">
                <section>
                    <div class="form-group">
                        <select id="planId" class="form-control" required="required" name="planId">
                            <option value="" th:text="#{plan.choose}"></option>
                            <option th:each="plan : ${plans}" th:value="${plan.id}" th:text="${plan.name} + ' - ' + ${plan.monthlyAmount} + ' / ' + #{month}">Plan</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select id="paymentMethod" class="form-control" required="required" name="paymentMethodId">
                            <option value="" th:text="#{select_payment_method}">Select Payment Method</option>
                            <option th:each="paymentMethod : ${paymentMethods}" th:value="${paymentMethod.id}" th:text="${paymentMethod.displayName}">Method</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input id="intl-mobile" name="intl-mobile" type="tel" class="form-control" required="required" maxlength="30" th:value="*{mobile}" th:placeholder="#{mobile_number}" data-target-id="mobile"/>
                        <input id="mobile" name="mobile" type="hidden" th:field="*{mobile}"/>
                    </div>
                </section>

                <section class="plan" style="display:none" th:each="plan : ${plans}" th:id="'plan-' + ${plan.id}">
                    <h6 th:text="${plan.name}"></h6>
                    <div>
                        <b th:text="${plan.totalAmount}">121 XAF</b>
                        <span th:text="#{every_n_months(${plan.totalMonths})}">every xxx months</span>
                    </div>
                    <div th:utext="${plan.description}" th:if="${plan.description}">Description</div>
                </section>

                <div class="btn-group">
                    <button id="btn-submit" type="submit" class="btn btn-sm btn-primary" th:text="#{button.subscription.pay}">Enregistrer</button>
                    <a id="btn-cancel" class="btn btn-sm" href="/settings" th:text="#{button.cancel}">Annuller</a>
                </div>
            </form>
        </div>
        <div class="sidebar col-md-3">
            <section th:if="${store.activeSubscription}">
                <table class="table">
                    <tr>
                        <td class="label" th:text="#{current_plan}">Current Plan</td>
                        <td th:text="${store.activeSubscription.plan.name}">This is the plan</td>
                    </tr>
                    <tr>
                        <td class="label" th:text="#{since}">Since</td>
                        <td th:text="${store.activeSubscription.startDate}">20 Jul 20</td>
                    </tr>
                    <tr>
                        <td class="label" th:text="#{days_remaining}">Current Plan</td>
                        <td th:text="#{n_days(${store.activeSubscription.remainingDays})}">3 days</td>
                    </tr>
                    <tr th:if="${store.activeSubscription.plan.description}">
                        <td colspan="2">
                            <div th:utext="${store.activeSubscription.plan.description}">Description</div>
                        </td>
                    </tr>
                </table>
            </section>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>

<div id="subscribe-progress" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{subscribe_processing_payment}">Processing the payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="subscribe-error" class="alert alert-danger">This is an error</div>

                <p id="step-payment" class="step">
                    1. <span th:text="#{subscribe_step_payment}">Performing the payment</span>
                    <i class="fas fa-spinner fa-spin"></i>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                </p>
                <p id="step-confirm" class="step">
                    2. <span th:text="#{subscribe_step_confirm}">Waiting for Confirmation</span>
                    <i class="fas fa-spinner fa-spin"></i>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                </p>

                <div class="alert alert-warning" th:text="#{processing_payment_warning}">This is an error</div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#planId').change(function(){
        var value = $(this).val();
        $('.plan').hide();
        if (value.length > 0){
            $('#plan-' + value).show();
        }
    });

    $('#subscribe-form').submit(function(event){
        event.preventDefault();
        $('#btn-submit').attr('disabled', 'disabled');

        var formData = $(this).serialize();
        start('payment');
        wutsi.subscribe(formData, function (tx) {
            done('payment', tx.status != 'failed', tx.errorText);

            if (tx.status != 'failed') {
                start('confirm');
                wutsi.waitForPaymentConfirmation(tx, function (status) {
                    var success = status.status == 'success';
                    done('confirm', success, tx.errorText);
                    if (success) {
                        window.location.href = '/settings/subscription';
                    }
                });
            }
        });

    });

    function start(step) {
        if (step == 'payment'){
            // Reset UI
            $('.step').removeClass('step-active');
            $('.step').removeClass('step-success');
            $('.step').removeClass('step-error');
            $('.close').hide();
            $('.step fas').hide();
            $('#subscribe-error').hide();

            // Activate button
            $('#btn-submit').attr('disabled', 'disabled');

            // Open the process status
            $('#subscribe-progress').modal({
                backdrop: 'static',
                keyboard: false
            });
        }

        $('#step-' + step).addClass('step-active');
    }

    function done(step, success, error) {
        console.log('success=' +  success + ' - ' + error);
        if (success){
            $('#step-' + step).addClass('step-success');
        } else {
            $('#step-' + step).addClass('step-error');

            // Deactivate button
            $('#btn-submit').removeAttr('disabled');

            // Show error message
            $('#subscribe-error').text(error);
            $('#subscribe-error').show();
            $('.close').show();
        }
    }

</script>
</body>

</html>
