<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="card(me, showPicture)" class="author-card" th:with="inBlogPage=${page.name == 'page.blog'}">
    <a th:href="${me.slug}" th:title="${me.fullName}" th:if="${showPicture}">
        <img class="margin-right" th:src="${me.pictureUrl}" th:alt="${me.fullName}" /></a>

    <div>
        <h1 th:text="${me.fullName}" th:if="${inBlogPage}">Ray Sponsible</h1>
        <a th:href="${me.slug}" th:if="!${inBlogPage}" th:text="${me.fullName}">Ray Sponsible</a>

        <div class="bio text-small" th:if="${me.biography}" th:text="${me.biography}">Biography</div>
        <div class="bio text-small" th:if="(!${me.biography} OR ${me.biography.isEmpty()}) AND (${me.id} == ${user.id}) AND ${inBlogPage}">
            <a href="/me/settings?highlight=biography-container#general">
                <i th:text="#{page.blog.biography.empty}">Enter your short bio...</i>
            </a>
        </div>

        <div th:if="${me.websiteUrl} AND !${me.websiteUrl.isEmpty()}">
            <a class="website"
               wutsi-track-event="link"
               wutsi-track-value="website"
               th:href="${me.websiteUrl}" th:text="${me.websiteUrl}"
            >http://www.fldkl.com</a>
        </div>

        <div class="margin-top" th:if="${me.hasSocialLinks} OR ${me.hasFollowers}">
            <a target="_new"
               class="social-link facebook"
               wutsi-track-event="link"
               wutsi-track-value="facebook"
               th:if="${me.facebookUrl} AND !${me.facebookUrl.isEmpty()}"
               th:href="${me.facebookUrl}"
            >
                <i class="fab fa-facebook-f"></i>
            </a>
            <a target="_new"
               class="social-link twitter"
               wutsi-track-event="link"
               wutsi-track-value="twitter"
               th:if="${me.twitterUrl} AND !${me.twitterUrl.isEmpty()}"
               th:href="${me.twitterUrl}"
            >
                <i class="fab fa-twitter"></i>
            </a>
            <a target="_new"
               class="social-link youtube"
               wutsi-track-event="link"
               wutsi-track-value="youtube"
               th:if="${me.youtubeUrl} AND !${me.youtubeUrl.isEmpty()}"
               th:href="${me.youtubeUrl}"
            >
                <i class="fab fa-youtube-square"></i>
            </a>
            <a target="_new"
               class="social-link linkedin"
               wutsi-track-event="link"
               wutsi-track-value="linkedin"
               th:if="${me.linkedinUrl} AND !${me.linkedinUrl.isEmpty()}"
               th:href="${me.linkedinUrl}"
            >
                <i class="fab fa-linkedin-in"></i>
            </a>

            <span class="follower-count" th:if="${me.followerCount} == 1" th:utext="#{label.1_follower(${me.followerCountText})}">1 Follower</span>
            <span class="follower-count" th:if="${me.followerCount} GT 1" th:utext="#{label.n_followers(${me.followerCountText})}">40 Followers</span>
        </div>
    </div>
</div>

<div th:fragment="summary-card(me, showFollowButton)" class="author-summary-card">
    <a th:href="${me.slug}">
        <img class="margin-right" th:src="${me.pictureUrl}" th:alt="${me.fullName}" />
    </a>
    <div>
        <a class="full-name" th:href="${me.slug}" th:title="${me.fullName}" th:text="${me.fullName}">Ray Sponsible</a>
        <div class="text-small">
            @<span class="name" th:text="${me.name}">ray.sponsible</span>

            <span class="follower-count" th:if="${me.followerCount} == 1" th:utext="#{label.1_follower(${me.followerCountText})}">1 Follower</span>
            <span class="follower-count" th:if="${me.followerCount} GT 1" th:utext="#{label.n_followers(${me.followerCountText})}">40 Followers</span>
        </div>
        <div class="text-small biography" th:if="${me.biography}" th:text="${me.biography}">Biography</div>
    </div>
    <div class="btn-container" th:if="${showFollowButton}">
        <div th:replace="components/follow :: follow-button(${me}, ${me.slug}, false, false)"></div>
    </div>
</div>


</body>
</html>
