<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div  th:fragment="one-tap">

    <div th:if="!${user} AND ${page.showGoogleOneTap} AND ${toggles.googleOneTapSignIn}">
        <div id="g_id_onload"
             data-callback="g_one_tap_callback"
             data-moment_callback="g_one_tap_moment"
             th:data-client_id="${page.googleClientId}"
        >
        </div>
        <script id="g_one_tap_script" src="https://accounts.google.com/gsi/client"></script>
        <script id="g_one_tap_callback">
            function g_one_tap_callback(response) {
                console.log('g_one_tap_callback', response);
                wutsi.httpGet('/login/onetap/callback?credential=' + response.credential, true)
                    .then(function(data){
                        wutsi.httpGet(data.url, false);
                    });
            }

            function g_one_tap_moment(notification) {
                console.log('g_one_tap_moment', notification);
                if (notification.isDisplayed()){
                    wutsi.track('g_one_tap_show');
                }
            }
        </script>

    </div>
</div>


</body>
</html>
