<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- ################# -->
<!-- Header            -->
<!-- ################# -->
<div th:fragment="head" th:remove="tag">
    <meta charset="utf-8" />

    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="wutsi:page_name" th:content="${page.name}"/>
    <meta name="wutsi:story_id"  th:content="${story.id}" th:if="${story}"/>
    <meta name="wutsi:hit_id"  th:content="${hitId}" th:if="${hitId}"/>

    <title th:text="${page.title}"></title>
    <meta name="description" th:content="${page.description}" />

    <meta property="og:site_name" th:content="Wutsi" />
    <meta property="og:type" th:content="${page.type}" />
    <meta property="og:url" th:content="${page.url}" th:if="${page.imageUrl}" />
    <meta property="og:title" th:content="${page.title}" />
    <meta property="og:description" th:content="${page.description}" />
    <meta property="og:image" th:content="${page.imageUrl}" th:if="${page.imageUrl}" />
    <meta property="article:author" th:content="${page.author}" th:if="${page.author}" />
    <meta property="article:published_time" th:content="${page.publishedTime}" th:if="${page.publishedTime}" />
    <meta property="article:modified_time" th:content="${page.modifiedTime}" th:if="${page.modifiedTime}" />
    <meta property="article:tag" th:content="${tag}" th:each="tag : ${page.tags}" />

    <meta name="twitter:card" th:content="${page.imageUrl} ? 'summary_large_image' : 'summary'" />
    <meta name="twitter:site" th:content="'@' + ${page.twitterUserId}" th:if="${page.twitterUserId}" />
    <meta name="twitter:creator" th:content="'@' + ${page.twitterUserId}" th:if="${page.twitterUserId}" />
    <meta name="twitter:title" th:content="${page.title}" />
    <meta name="twitter:description" th:content="${page.description}" />
    <meta name="twitter:image" th:content="${page.imageUrl}" th:if="${page.imageUrl}" />

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <meta name="robots" th:content="${page.robots}" />

    <link rel="canonical" th:href="${page.canonicalUrl}" th:if="${page.canonicalUrl}" />

    <link rel="shortcut icon" th:href="${page.assetUrl} + '/assets/wutsi/img/favicon.ico'" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script th:src="${page.assetUrl} + '/assets/wutsi/js/wutsi-4.js'"></script>
    <link rel="stylesheet" th:href="${page.assetUrl} + '/assets/wutsi/css/main-19.css'" />

    <link rel="manifest" th:href="${page.assetUrl} + '/assets/wutsi/manifest.json'" th:if="${toggles.pwa}"/>
    <link rel="apple-touch-icon" th:href="${page.assetUrl} + '/assets/wutsi/img/logo/logo_512x512.png'" />
    <meta name="apple-mobile-web-app-status-bar" content="#f8f8f8" />
    <meta name="theme-color" content="#f8f8f8">
</div>


<!-- ################# -->
<!-- Footer            -->
<!-- ################# -->
<footer class="page-footer container-fluid padding-2x margin-top-2x border-top" th:fragment="footer">

    <div class="container">
        <p class="row">
            Copyright &copy; Wutsi
        </p>
        <p class="text-right follow-us">
            <span th:text="#{footer.follow_us}">Suivez Nous:</span>
            <a href="https://www.facebook.com/2502022716689613">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.twitter.com/wutsi2">
                <i class="fab fa-twitter"></i>
            </a>
        </p>
    </div>

    <script async th:src="'https://www.googletagmanager.com/gtag/js?id=' + ${page.googleAnalyticsCode}" th:if="!${page.googleAnalyticsCode.isEmpty()}"></script>
    <script id="ga-code" th:inline="javascript" th:if="!${page.googleAnalyticsCode.isEmpty()}">
    /*<![CDATA[*/

        var code = /*[[${page.googleAnalyticsCode}]]*/'0';

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', code);

    /*]]>*/
    </script>

    <!-- Facebook Pixel Code -->
    <script id="fb-pixel-code" th:inline="javascript" th:if="!${page.facebookPixelCode.isEmpty()}">
    /*<![CDATA[*/

        var code = /*[[${page.facebookPixelCode}]]*/'0';

        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', code);
        fbq('track', 'PageView');

    /*]]>*/
    </script>

    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script>
        $(document).ready(function(){
            wutsi.domReady();
        });
    </script>

    <script th:if="${toggles.pwa}">
        if('serviceWorker' in navigator){
            navigator
                .serviceWorker.register('/sw.js')
                .then(reg => console.log('service worker registered'))
                .catch(err => console.log('service worker not registered', err));
        }
    </script>
</footer>


<!-- ################# -->
<!-- Navbar            -->
<!-- ################# -->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light border-bottom" th:fragment="navbar">
        <a class="navbar-brand" href="/">
            <img th:src="${page.assetUrl} + '/assets/wutsi/img/logo/name.png'" alt="Wutsi" title="Wutsi"/></a>


        <ul class="navbar-nav ml-auto" th:if="${page.name != 'page.login'}">
            <li class="nav-item dropdown" th:if="${user}">
                <a class="nav-link user" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="user" th:if="${user.pictureUrl}" th:src="${user.pictureUrl}" th:title="${user.fullName}"/>
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <div class="dropdown-item-user flex">
                        <a th:href="${user.slug}" th:title="${user.fullName}">
                            <img th:if="${user.pictureUrl}" th:src="${user.pictureUrl}" th:title="${user.fullName}"/>
                            <div class="user-info">
                                <div><b th:text="${user.fullName}">Herve Tchepannou</b></div>
                                <div>@<span th:text="${user.name}"></span></div>
                            </div>
                        </a>
                    </div>

                    <div class="dropdown-divider"></div>
                    <a id="navbar-draft" class="dropdown-item" href="/me/draft" rel="nofollow" th:text="#{navbar.my-stories}">My Stories</a>
                    <a id="navbar-editor" class="dropdown-item" href="/editor" rel="nofollow" th:text="#{navbar.new-stories}">New Story</a>
                    <a id="navbar-syndicate" class="dropdown-item" href="/me/syndicate" rel="nofollow" th:text="#{navbar.syndicate-story}">Import Story</a>
                    <div class="dropdown-divider" th:if="${toggles.wpp}"></div>
                    <a id="navbar-wpp" class="dropdown-item" href="/partner" rel="nofollow" th:text="#{navbar.wpp}" th:if="${toggles.wpp}">Wutsi Partner Program</a>
                    <div class="dropdown-divider"></div>
                    <a id="navbar-settings" class="dropdown-item" href="/me/settings" rel="nofollow" th:text="#{navbar.settings}">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a  id="navbar-logout"class="dropdown-item" href="/logout" rel="nofollow" th:text="#{navbar.logout}">Logout</a>
                </div>
            </li>
            <li class="nav-item d-none d-lg-block" th:if="!${user} AND ${page.name != 'page.welcome'}">
                <a id="navbar-join" class="btn btn-primary" href="/welcome" th:text="#{button.create_blog}">Create your Blog</a>
            </li>
            <li class="nav-item" th:if="!${user} AND ${page.name != 'page.login'} AND ${page.name != 'page.welcome'}">
                <a id="navbar-login" class="btn btn-light" href="/login"  rel="nofollow" th:text="#{button.login}">Login</a>
            </li>
        </ul>
    </nav>
    <div id="super-user-banner" class="text-center" th:if="${user} AND ${user.superUser}">
        <b>SUPER USER MODE</b>
        <div>With Great Power comes Great Responsabilities</div>
    </div>
</div>


</body>
</html>
