<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- ################# -->
<!-- Header            -->
<!-- ################# -->
<div th:fragment="head" th:remove="tag">
    <meta charset="utf-8" />

    <link rel="manifest" href="/manifest.json" th:if="${toggles.pwa}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" th:href="${page.assetUrl} + '/assets/wutsi/img/logo/logo_96x96.png'" />
    <meta name="theme-color" content="#f8f8f8">
    <meta name="apple-mobile-web-app-status-bar" content="#f8f8f8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Wutsi" />
    <meta name="mobile-web-app-capable" content="yes" />

    <meta name="wutsi:page_name" th:content="${page.name}"/>
    <meta name="wutsi:story_id"  th:content="${story.id}" th:if="${story}"/>
    <meta name="wutsi:hit_id"  th:content="${hitId}" th:if="${hitId}"/>

    <title th:text="${page.title} + ' | Wutsi'"></title>
    <meta name="description" th:content="${page.description}" />

    <meta property="og:site_name" th:content="Wutsi" />
    <meta property="og:type" th:content="${page.type}" />
    <meta property="og:url" th:content="${page.url}" th:if="${page.imageUrl}" />
    <meta property="og:title" th:content="${page.title}" />
    <meta property="og:description" th:content="${page.description}" />
    <meta property="og:image" th:content="${page.imageUrl}" th:if="${page.imageUrl}" />
    <meta property="article:author" th:content="${page.author}" th:if="${page.author}" />
    <meta property="article:published_time" th:content="${page.publishedTime}" th:if="${page.publishedTime}" />
    <meta property="article:modified_time" th:content="${page.modifiedTime}" th:if="${page.modifiedTime}" />
    <meta property="article:tag" th:content="${tag}" th:each="tag : ${page.tags}" />

    <meta name="twitter:card" th:content="${page.imageUrl} ? 'summary_large_image' : 'summary'" />
    <meta name="twitter:site" th:content="'@' + ${page.twitterUserId}" th:if="${page.twitterUserId}" />
    <meta name="twitter:creator" th:content="'@' + ${page.twitterUserId}" th:if="${page.twitterUserId}" />
    <meta name="twitter:title" th:content="${page.title}" />
    <meta name="twitter:description" th:content="${page.description}" />
    <meta name="twitter:image" th:content="${page.imageUrl}" th:if="${page.imageUrl}" />

    <meta name="_csrf" th:content="${_csrf.token}" th:if="${_csrf}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}"  th:if="${_csrf}" />

    <meta name="robots" th:content="${page.robots}" />

    <link rel="canonical" th:href="${page.canonicalUrl}" th:if="${page.canonicalUrl}" />

    <link rel="shortcut icon" th:href="${page.assetUrl} + '/assets/wutsi/img/favicon.ico'" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script th:src="${page.assetUrl} + '/assets/wutsi/js/wutsi-19.js'"></script>
    <link rel="stylesheet" th:href="${page.assetUrl} + '/assets/wutsi/css/main-56.css'" />

    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

    <script type="application/ld+json" th:utext="${page.schemas}" th:if="${page.schemas}"></script>
</div>


<!-- ################# -->
<!-- Footer            -->
<!-- ################# -->
<footer class="page-footer container-fluid padding-2x margin-top-4x border-top d-none d-md-block" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9 margin-bottom">
                &copy; Wutsi.
                <br/>
                <a class="text-small" href="/about" th:text="#{label.about}">About</a>
                |
                <a class="text-small" href="/create" th:text="#{label.create_blog}">Create Blog</a>
                |
                <a class="text-small" href="/partner" th:if="${toggles.wpp}">Wutsi Partner Program</a>
                |
                <a class="text-small" href="/terms" th:text="#{label.terms_conditions}">Terms and Condition</a>
                |
                <a class="text-small" href="/privacy" th:text="#{label.privacy}">Privacy</a>
            </div>
            <div class="col-12 col-md-3 text-right follow-us">
                <a target="_new" href="https://www.facebook.com/2502022716689613">
                    <i class="fab fa-facebook"></i>
                </a>
                <a target="_new" href="https://www.twitter.com/wutsi2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a target="_new" href="https://www.linkedin.com/company/wutsi-inc">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>

    <script async th:src="'https://www.googletagmanager.com/gtag/js?id=' + ${page.googleAnalyticsCode}" th:if="!${page.googleAnalyticsCode.isEmpty()}"></script>
    <script id="ga-code" th:inline="javascript" th:if="!${page.googleAnalyticsCode.isEmpty()}">
    /*<![CDATA[*/

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', /*[[${page.googleAnalyticsCode}]]*/'0');

    /*]]>*/
    </script>

    <script id="fb-pixel-code" th:inline="javascript" th:if="!${page.facebookPixelCode.isEmpty()}">
    /*<![CDATA[*/

        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', /*[[${page.facebookPixelCode}]]*/'0');
        fbq('track', 'PageView');

    /*]]>*/
    </script>

    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script>
        $(document).ready(function(){
            wutsi.domReady();
        });
    </script>

    <script id="firebase-app-js" src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js" th:if="${toggles.pwa} AND ${toggles.pwaPushNotification}"></script>
    <script id="firebase-messaging-js" src="https://www.gstatic.com/firebasejs/7.10.0/firebase-messaging.js" th:if="${toggles.pwa} AND ${toggles.pwaPushNotification}"></script>
    <script id="firebase-js" th:src="${page.assetUrl} + '/assets/wutsi/js/firebase-3.0.js'" th:if="${toggles.pwa} AND ${toggles.pwaPushNotification}"></script>
    <script id="pwa-js" th:inline="javascript" th:if="${toggles.pwa}">
    /*<![CDATA[*/

        const pushNotificationEnabled = /*[[${toggles.pwaPushNotification}]]*/'false';
        const showNotificationOptIn = /*[[${page.showNotificationOptIn}]]*/'false';

        if('serviceWorker' in navigator){
            navigator.serviceWorker
                .register('/sw.js')
                .then(function(reg) {
                    console.log('Service Worker registered', reg);

                    // Upgrade
                    reg.addEventListener('updatefound', function() {
                        console.log('Upgrading Service Worker...');

                        newWorker = reg.installing;
                        newWorker.addEventListener('statechange', function() {
                            // Has service worker state changed?
                            switch (newWorker.state) {
                                case 'installed':
                                    reg.update();
                                    console.log('Service Worker updated');
                                    break;
                                }
                        });
                    });

                    // Push Notification
                    if (pushNotificationEnabled){
                        const firebaseVapidKey = /*[[${page.firebaseConfig.publicVapidKey}]]*/'';
                        const firebaseConfig = {
                            apiKey: /*[[${page.firebaseConfig.apiKey}]]*/ '',
                            projectId: /*[[${page.firebaseConfig.projectId}]]*/ '',
                            messagingSenderId: /*[[${page.firebaseConfig.senderId}]]*/ '',
                            appId: /*[[${page.firebaseConfig.appId}]]*/ ''
                        };
                        firebase_setup(reg, firebaseConfig, firebaseVapidKey, showNotificationOptIn)
                    }

                })
                .catch(function (err) {
                    console.error('service worker not registered', err);
                });
        }

    /*]]>*/
    </script>
    <script id="a2hs-js" src="/a2hs.js"></script>
</footer>


<!-- ################# -->
<!-- Navbar            -->
<!-- ################# -->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light border-bottom" th:fragment="navbar">
        <a class="navbar-brand" href="/">
            <img th:src="${page.assetUrl} + '/assets/wutsi/img/logo/name-104x50.png'" alt="Wutsi" title="Wutsi"/></a>


        <ul class="navbar-nav ml-auto" th:if="${page.name != 'page.login'}">
            <li class="nav-item dropdown" th:if="${user}">
                <a class="nav-link user" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="user" th:if="${user.pictureUrl}" th:src="${user.pictureUrl}" th:title="${user.fullName}"/>
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <div class="dropdown-item-user flex">
                        <a th:href="${user.slug}" th:title="${user.fullName}">
                            <img th:if="${user.pictureUrl}" th:src="${user.pictureUrl}" th:title="${user.fullName}"/>
                            <div class="user-info">
                                <b th:text="${user.fullName}">Herve Tchepannou</b>
                                <br/>
                                @<span th:text="${user.name}"></span>
                            </div>
                        </a>
                    </div>

                    <div class="dropdown-divider"></div>
                    <a id="navbar-draft" class="dropdown-item" href="/me/draft" rel="nofollow" th:text="#{navbar.my-stories}">My Stories</a>
                    <a id="navbar-editor" class="dropdown-item" href="/editor" rel="nofollow" th:text="#{navbar.new-stories}">New Story</a>
                    <a id="navbar-syndicate" class="dropdown-item" href="/me/syndicate" rel="nofollow" th:text="#{navbar.syndicate-story}">Import Story</a>
                    <a id="navbar-stats" class="dropdown-item" href="/stats" rel="nofollow" th:text="#{navbar.stats}">Stats</a>

                    <div class="dropdown-divider" th:if="${toggles.wpp}"></div>
                    <a id="navbar-wpp" class="dropdown-item" href="/partner" th:text="#{navbar.wpp}" th:if="${toggles.wpp}">Wutsi Partner Program</a>
                    <a id="navbar-earnings" class="dropdown-item" href="/me/earning" th:text="#{navbar.earnings}" th:if="${toggles.earning}">Earnings</a>

                    <div class="dropdown-divider"></div>
                    <a id="navbar-channels" class="dropdown-item" href="/me/channel" rel="nofollow" th:text="#{navbar.channels}" th:if="${toggles.channel}">Channels</a>
                    <a id="navbar-settings" class="dropdown-item" href="/me/settings" rel="nofollow" th:text="#{navbar.settings}">Settings</a>

                    <div class="dropdown-divider"></div>
                    <a  id="navbar-runas"class="dropdown-item" href="/login/as" rel="nofollow" th:if="${superUser}">Run As</a>
                    <a  id="navbar-logout"class="dropdown-item" href="/logout" rel="nofollow" th:text="#{navbar.logout}">Logout</a>
                </div>
            </li>
            <li class="nav-item d-none d-lg-block" th:if="!${user} AND ${page.name != 'page.welcome'}">
                <a id="navbar-create" class="btn btn-primary" href="/create" th:text="#{button.create_blog}">Create your Blog</a>
            </li>
            <li class="nav-item" th:if="!${user} AND ${page.name != 'page.login'} AND ${page.name != 'page.welcome'}">
                <a id="navbar-login" class="btn btn-light" href="/login"  rel="nofollow" th:text="#{button.login}">Login</a>
            </li>
        </ul>
    </nav>
    <div id="super-user-banner" class="text-center" th:if="${superUser}">
        <b>SUPER USER MODE</b>
        <div>With Great Power comes Great Responsabilities</div>
    </div>
</div>


<!-- ################# -->
<!-- Announcement      -->
<!-- ################# -->
<div th:fragment="announcement">
    <div id="wutsi-announcement-container" th:if="${toggles.announcement}">
        <div id="wutsi-announcement" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="7000">
            <div class="toast-header">
                <img th:src="${page.assetUrl} + '/assets/wutsi/img/logo/logo_96x96.png'" class="rounded mr-2" width="16" height="16">
                <strong class="mr-auto" th:text="#{label.notification}">Wutsi</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <div class="message mb-1">Message</div>
                <div class="action" style="display: none">
                    <a class="btn btn-sm btn-primary" href="#" th:text="#{button.learn_more}">Learn More...</a>
                </div>
            </div>
        </div>
    </div>
    <script id="wutsi-announcement-js" th:inline="javascript" th:if="${toggles.announcement}">
    /*<![CDATA[*/

        $(document).ready(function(){
            const page = /*[[${page.name}]]*/'';
            wutsi.httpGet('/announcement?page=' + page, true).then(function(data){
                console.log('announcement', data);
                if (data.show){
                    const announcement = data.announcement;

                    $('#wutsi-announcement .toast-body .message').text(announcement.message);
                    if (announcement.actionUrl) {
                        $('#wutsi-announcement .toast-body .action a').attr('href', announcement.actionUrl);
                        $('#wutsi-announcement .toast-body .action').show();
                    }
                    console.log('showing announcement', announcement.name);
                    $('.toast').toast('show');

                    $('#wutsi-announcement').on('shown.bs.toast', function () {
                        wutsi.track('announcement_' + announcement.name + '_show');
                    })
                    $('#wutsi-announcement .btn').click(function () {
                        wutsi.track('announcement_' + announcement.name + '_click');
                    })
                }
            });
        });

    /*]]>*/
    </script>
</div>

</body>
</html>
