<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="widget(story)" class="like-widget" th:id="'like-widget-' + ${story.id}">
    <a href="javascript: wlike.like()" th:title="#{like.title}" wutsi-track-event="like">
        <div th:replace="components/like :: badge(${story})"></div>
    </a>
</div>


<div th:fragment="badge(story)" class="like-badge flex">
    <div><i th:id="'like-icon-' + ${story.id}" class="far fa-heart like-icon"></i></div>
    <div>
        &nbsp;
        <span class="like-count" th:id="'like-count-' + ${story.id}" th:data-like-story-id="${story.id}"></span>
    </div>
</div>

</body>
</html>
