<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<div th:fragment="widget(story)" class="share-widget">

    <div class="dropdown">
        <a class="dropdown-toggle" id="share-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" wutsi-track-event="share">
            <div class="flex">
                <div><i class="fas fa-share-alt"></i></div>
            </div>
        </a>
        <div class="dropdown-menu" aria-labelledby="share-menu">
            <a class="dropdown-item share-whatsapp btn-share hidden" wutsi-share-target="whatsapp" th:wutsi-story-id="${story.id}">
                <i class="fab fa-whatsapp-square"></i>
                WhatsApp
            </a>
            <a class="dropdown-item share-messenger btn-share hidden" wutsi-share-target="messenger" th:wutsi-story-id="${story.id}">
                <i class="fab fa-facebook-messenger"></i>
                Messenger
            </a>
            <a class="dropdown-item share-facebook btn-share" wutsi-share-target="facebook" th:wutsi-story-id="${story.id}">
                <i class="fab fa-facebook-square"></i>
                Facebook
            </a>
            <a class="dropdown-item share-twitter btn-share" wutsi-share-target="twitter" th:wutsi-story-id="${story.id}">
                <i class="fab fa-twitter-square"></i>
                Twitter
            </a>
            <a class="dropdown-item share-linkedin btn-share" wutsi-share-target="linkedin" th:wutsi-story-id="${story.id}">
                <i class="fab fa-linkedin"></i>
                LinkedIn
            </a>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            if (wutsi.isMobile()){
                $('.share-whatsapp').removeClass('hidden');
                $('.share-messenger').removeClass('hidden');
            }
        });
    </script>
</div>

</body>
</html>
