<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div  th:fragment="toolbar">
    <a id="toolbar-syndicate" class="btn btn-light float-right" href="/me/syndicate" th:text="#{button.syndicate_story}">Syndicate Story</a>
    <a id="toolbar-create" class="btn btn-primary margin-right float-right" href="/editor" th:text="#{button.create_story}">New Story</a>
    <div class="clearfix"></div>
</div>

<ul th:fragment="tabs(status, totalDraftStories, totalPublishedStories)" class="nav nav-tabs">
    <li class="nav-item">
        <a id="tab-draft" class="nav-link" href="/me/draft"  th:classappend="${status} == 'draft' ? 'active' : null">
            <span th:text="#{story.status.draft}">Draft</span>
            <span class="story-count badge badge-light hidden">9</span>
        </a>
    </li>
    <li class="nav-item">
        <a id="tab-published" class="nav-link" href="/me/story/published" th:classappend="${status} == 'published' ? 'active' : null">
            <span th:text="#{story.status.published}">Published</span>
            <span class="story-count badge badge-light hidden">9</span>
        </a>
    </li>

    <script>
        $(document).ready(function(){
            update_story_count('draft');
            update_story_count('published');
        });

        function update_story_count(status){
            wutsi.httpGet('/story/count?status=' + status, true)
                .then(function(response){
                    var id = '#tab-' + status + ' .story-count';
                    if (response.count > 0){
                        $(id).removeClass('hidden');
                        $(id).text(response.count)
                    } else {
                        $(id).addClass('hidden');
                    }
                })
        }
    </script>
</ul>

<div th:fragment="listitem(story)" class="story col-12">

    <a th:href="${story.draft} OR !${story.live} ? '/editor/' + ${story.id} : ${story.slug}">
        <h3 class="title">
            <span th:text="${story.title}">Title</span>
            <span th:replace="components/story :: wpp-badge(${story})"></span>
        </h3>
        <h3 class="disabled" th:text="#{story.no_title}" th:if="${story.title.isEmpty()}">Title</h3>
        <div th:if="${story.published}" class="live" th:classappend="${story.live}? 'live-on' : 'live-off'">
            <span th:if="${story.live}"> <i class="fas fa-toggle-on"></i> </span>
            <span th:if="!${story.live}"> <i class="fas fa-toggle-off"></i> </span>

            <span th:text="#{label.online}">Live</span>
        </div>

        <div class="summary" th:text="${story.summary}">Summary</div>
        <div class="disabled" th:text="#{story.no_summary}" th:if="${story.summary.isEmpty()}">Summary</div>
    </a>

    <div class="meta">
        <span th:text="#{label.modified}">Last Modified:</span> <span th:text="${story.modificationDateTime}">2 days ago</span>
        -
        <span th:text="#{story.read_time(${story.readingMinutes})}" th:if="${story.readingMinutes} GT 0">6 min</span>
        (<span th:text="#{story.word_count(${story.wordCount})}">250 mots</span>)

        <div class="dropdown show story-dropdown-menu margin-left">
            <a class="btn btn-light btn-sm" href="#" role="button" th:id="'story-menu-' + ${story.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h"></i>
            </a>

            <div th:id="'story-menu' + ${story.id}" class="dropdown-menu" th:aria-labelledby="'story-menu' + ${story.id}">
                <a class="dropdown-item menu-item-edit" th:href="'/editor/' + ${story.id}" th:text="#{button.edit}">Edit</a>

                <a class="dropdown-item menu-item-preview" target="_new"
                   th:href="'/me/story/' + ${story.id} + '/preview'"
                   th:text="#{button.preview}"
                   th:if="${story.draft} OR !${story.live}"
                >Preview</a>

                <a class="dropdown-item menu-item-publish"
                   th:href="'/me/story/' + ${story.id} + '/publish'"
                   th:text="#{button.publish}"
                   th:if="${story.draft}"
                >Publish</a>

                <div class="dropdown-divider" th:if="${story.published}"></div>
                <a class="dropdown-item menu-item-stats" th:href="'/stats/story/' + ${story.id}" th:text="#{button.stats}" th:if="${story.published}">Stats</a>

                <div class="dropdown-divider" th:if="${story.draft}"></div>
                <a class="dropdown-item menu-item-delete"
                   th:href="'javascript: delete_story(' + ${story.id} + ')'"
                   th:text="#{button.delete}"
                   th:if="${story.draft}"
                >Delete</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="widgets(story, showPin)">
    <div class="widget-container">
        <div th:replace="components/like :: badge(${story})"></div>
        <div th:replace="components/comment :: badge(${story})"></div>
        <div th:replace="components/pin :: widget(${story}, ${showPin})"></div>
    </div>
</div>

<div th:fragment="meta(story)" class="meta flex text-small">
    <div class="margin-right" th:text="${story.publishedDateTime}">12 May</div>
    <div>
        <span th:text="${story.readingMinutes}">2</span>
        <span th:text="#{label.minutes}">min</span>
    </div>
</div>

<div th:fragment="story-card(story, trackEvent, rank, pin)"
     th:id="'story-card-' + ${story.id}"
     class="story-card"
     th:classappend="${story.pinned} AND ${user} AND ${user.id} == ${story.user.id}?story-card-pinned"
>
    <a th:href="${story.slug}"
       th:title="${story.title}"
       th:wutsi-track-value = "${story.id}"
       th:wutsi-track-rank = "${rank}"
       th:attrappend="wutsi-track-event= ${trackEvent} ? ${trackEvent}">
        <h2 class="title" th:text="${story.title}">Title</h2>

        <div class="img-container margin-bottom" th:if="${story.thumbnailImage}">
            <img class="border lozad"
                 th:data-src="${story.thumbnailImage.src}"
                 th:data-srcset="${story.thumbnailImage.srcset}"
                 th:sizes="${story.thumbnailImage.sizes}"
                 th:alt="${story.title}"
            />
        </div>

        <div class="summary margin-bottom" th:text="${story.summary}">Summary</div>
    </a>

    <a th:href="${story.user.slug}" th:title="${story.user.fullName}">
        <div class="author text-small" th:text="${story.user.fullName}">Ray Sponsible</div>
    </a>

    <div class="margin-bottom">
        <div th:replace="components/story :: meta(${story})"></div>
    </div>

    <div th:replace="components/story :: widgets(${story}, true)"></div>
</div>

<div th:fragment="story-summary-card(story, showAuthor, trackEvent, rank)" class="story-summary-card">
    <div>
        <a th:href="${story.slug}"
           th:title="${story.title}"
           th:wutsi-track-value = "${story.id}"
           th:wutsi-track-rank = "${rank}"
           th:attrappend="wutsi-track-event= ${trackEvent} ? ${trackEvent}"
        >
            <h6 th:text="${story.title}">Title</h6>
        </a>

        <a th:href="${story.user.slug}" th:title="${story.user.fullName}">
            <div class="author margin-top text-small" th:text="${story.user.fullName}">Ray Sponsible</div>
        </a>

        <div class="margin-bottom">
            <div th:replace="components/story :: meta(${story})"></div>
        </div>

        <div th:replace="components/story :: widgets(${story}, false)"></div>
    </div>

    <div class="img-container" th:if="${story.thumbnailImage}">
        <a th:href="${story.slug}"
           th:title="${story.title}"
           th:wutsi-track-value = "${story.id}"
           th:wutsi-track-rank = "${rank}"
           th:attrappend="wutsi-track-event= ${trackEvent} ? ${trackEvent}"
        >
            <img class="lozad"
                 th:data-src="${story.thumbnailImage.src}"
                 th:data-srcset="${story.thumbnailImage.srcset}"
                 th:sizes="${story.thumbnailImage.sizes}"
                 th:if="${story.thumbnailUrl} AND !${story.thumbnailUrl.isEmpty()}"
            />
        </a>
    </div>
</div>


<div class="wizard" th:fragment="wizard(steps, current)">
    <ul class="step-indicator">
        <li th:classappend="${current} GE 1 ? active" th:if="${steps} GE 1"></li>
        <li th:classappend="${current} GE 2 ? active" th:if="${steps} GE 2"></li>
        <li th:classappend="${current} GE 3 ? active" th:if="${steps} GE 3"></li>
        <li th:classappend="${current} GE 4 ? active" th:if="${steps} GE 4"></li>
        <li th:classappend="${current} GE 5 ? active" th:if="${steps} GE 5"></li>
        <li th:classappend="${current} GE 6 ? active" th:if="${steps} GE 6"></li>
    </ul>
    <div class="clearfix"></div>
</div>

<span th:fragment="wpp-badge(story)">
    <i th:if="${story.wppStatus} AND ${story.wppStatus.name()} == 'approved'"
       class="fas fa-dollar-sign story-wpp-approved"
       data-toggle="popover"
       title="Wutsi Partner Program"
       th:data-content="#{story.wpp.approved}"
    ></i>

    <i th:if="${story.wppStatus} AND ${story.wppStatus.name()} == 'rejected'"
       class="fas fa-dollar-sign story-wpp-rejected"
       data-toggle="popover"
       title="Wutsi Partner Program"
       th:data-content="#{story.wpp.rejected}"
    ></i>
</span>

<div th:fragment="read-also(story)" th:id="'read-also-' + ${story.id}">
    <script th:inline="javascript">
    /*<![CDATA[*/
        $(document).ready(function(){
            const storyId = /*[[${story.id}]]*/'0';
            wutsi.httpGet('/recommend?storyId=' + storyId + '&layout=summary', false)
                .then(function(html){
                    $('#read-also-' + storyId).html(html);
                })
        });
    /*]]>*/
    </script>
</div>


</body>
</html>
