<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div  th:fragment="toolbar">
    <a id="toolbar-syndicate" class="btn btn-light float-right" href="/me/syndicate" th:text="#{button.syndicate_story}">Syndicate Story</a>
    <a id="toolbar-create" class="btn btn-primary margin-right float-right" href="/editor" th:text="#{button.create_story}">New Story</a>
    <div class="clearfix"></div>
</div>

<ul th:fragment="tabs(status, totalDraftStories, totalPublishedStories)" class="nav nav-tabs">
    <li class="nav-item">
        <a id="tab-draft" class="nav-link" href="/me/draft"  th:classappend="${status} == 'draft' ? 'active' : null">
            <span th:text="#{story.status.draft}">Draft</span>
            <span class="badge badge-light" th:text="${totalDraftStories}" th:if="${totalDraftStories} GT 0">9</span>
        </a>
    </li>
    <li class="nav-item">
        <a id="tab-published" class="nav-link" href="/me/story/published" th:classappend="${status} == 'published' ? 'active' : null">
            <span th:text="#{story.status.published}">Published</span>
            <span class="badge badge-light" th:text="${totalPublishedStories}" th:if="${totalPublishedStories} GT 0">9</span>
        </a>
    </li>
</ul>

<div th:fragment="listitem(story)" class="story col-12" th:id="'story-' + ${story.id}">

    <a th:href="${story.draft} ? '/editor/' + ${story.id} : ${story.slug}">
        <h3 class="title" th:text="${story.title}">Title</h3>
        <h3 class="disabled" th:text="#{story.no_title}" th:if="${story.title.isEmpty()}">Title</h3>

        <div class="summary" th:text="${story.summary}">Summary</div>
        <div class="disabled" th:text="#{story.no_summary}" th:if="${story.summary.isEmpty()}">Summary</div>
    </a>

    <div class="meta">
        <span th:text="#{label.modified}">Last Modified:</span> <span th:text="${story.modificationDateTime}">2 days ago</span>
        -
        <span th:text="#{story.read_time(${story.readingMinutes})}" th:if="${story.readingMinutes} GT 0">6 min</span>
        (<span th:text="#{story.word_count(${story.wordCount})}">250 mots</span>)

        <div class="dropdown show story-dropdown-menu margin-left">
            <a class="btn btn-light btn-sm" href="#" role="button" th:id="'story-menu-' + ${story.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="'story-menu' + ${story.id}">
                <a class="dropdown-item" th:href="'/me/story/' + ${story.id} + '/editor'" th:text="#{button.edit}">Edit</a>
                <a class="dropdown-item" th:href="'/me/story/' + ${story.id} + '/publish'" th:text="#{button.publish}" th:if="${story.draft}">Publish</a>
            </div>
        </div>
    </div>

</div>

<div th:fragment="share(story)" class="share">
    <a target="_blank" class="margin-top share-twitter btn-share"
       wutsi-track-event="share.twitter"
       th:href="'http://www.twitter.com/intent/tweet?url=' + ${page.url}">
        <i class="fab fa-twitter"></i>
    </a>
    <a target="_blank" class="margin-top-2x share-facebook btn-share"
       wutsi-track-event="share.facebook"
       th:href="'https://www.facebook.com/sharer/sharer.php?display=page&u=' + ${page.url}">
        <i class="fab fa-facebook-square"></i>
    </a>
    <a target="_blank" class="margin-top share-linkedin btn-share"
       wutsi-track-event="share.linkedin"
       th:href="'https://www.linkedin.com/shareArticle?mini=true&url=' + ${page.url}">
        <i class="fab fa-linkedin"></i>
    </a>
</div>

<div th:fragment="author(story, showBio, showMeta)" class="author">
    <img class="margin-right" th:src="${story.user.pictureUrl}" th:alt="${story.user.fullName}" />
    <div class="info">
        <h5 th:text="${story.user.fullName}">Ray Sponsible</h5>
        <div th:if="${showBio} AND ${story.user.biography}" th:text="${story.user.biography}">Biography</div>
        <div th:if="${showMeta}">
            <div th:replace="components/story :: meta(${story})"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div th:fragment="meta(story)" class="meta">
    <span th:text="${story.publishedDateTime}">12 May</span>
    -
    <span th:text="#{story.read_time(${story.readingMinutes})}">3 min</span>
</div>

<script>
    $(document).ready(function(){
        wutsi_bind_tracking();
        wutsi.track('startread');
        window.addEventListener('beforeunload', function(){
            wutsi.track('endread')
        });
    });
</script>

</body>
</html>
