<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="widget" id="survey-container" class="flex padding box-filled-highlight-light border rounded hidden">
    <div class="margin-right">
        <img width="64" th:src="${page.assetUrl} + '/assets/wutsi/img/survey.png'" />
    </div>
    <div>
        <div>
            <p th:if="${user}" th:text="#{survey.hi(${user.fullName})}"></p>
            <p th:if="!${user}" th:text="#{survey.hi_anonymous}"></p>

            <p th:text="#{survey.description}"></p>
            <p class='description'></p>
        </div>
        <button class='btn btn-primary btn-sm' wutsi-track-event="survey" th:utext="#{button.answer_survey}">Answer Survey...</button>
    </div>

    <script th:inline="javascript">
        $(document).ready(function(){
            wutsi.httpGet('/survey', true)
                .then(function(survey){
                    if (survey.active){
                        $('#survey-container .description').text(survey.description);
                        $('#survey-container button').attr('data-url', survey.url);
                        $('#survey-container').removeClass('hidden');

                        wutsi.track('survey_show');
                    }
                });

        });

        $('#survey-container button').click(function(){
            wutsi.httpGet('/survey/click', true)
                .finally(function(){
                    $('#survey-container').hide();

                    const url = $('#survey-container button').attr('data-url');
                    console.log('Opening survey', url);
                    window.open(url, '_survey');
                });
        });

    </script>
</div>


</body>
</html>
