<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container">
    <div class="row margin-top-2x margin-bottom-4x">
        <div class="col-12 offset-md-3 col-md-6 margin-top-2x">

            <div class="main-content border padding-2x margin-top-2x">
                <h1 class="margin-top text-center" th:text="#{page.wallet.payment.header1}">Login</h1>
                <div class="margin-top text-center" th:text="#{page.wallet.payment.description}"></div>

                <div class="alert alert-danger margin-top" th:if="${error}" th:text="${error}">Error</div>

                <form autocomplete="off" class="margin-top-2x" id="form-payment" method="post" th:action="@{/wallet/setup}" th:object="${form}">
                    <div class="form-group">
                        <label th:text="#{page.wallet.payment.form.country}">Country</label>
                        <select class="form-control" id="country" name="country" required="required" th:field="*{country}">
                            <option value=""></option>
                            <option
                                th:each="country : ${countries}"
                                th:text="${country.displayCountry}"
                                th:value="${country.country}"
                            >Topic
                            </option>
                        </select>
                        <small class="form-text text-muted" th:text="#{page.wallet.payment.form.country.help}">Help</small>
                    </div>

                    <div class="form-group">
                        <label th:text="#{page.wallet.payment.form.provider}">Provider</label>
                        <select class="form-control" id="mobile-provider" name="mobileProvider" required="required" th:field="*{mobileProvider}">
                            <option value=""></option>
                            <option th:if="${providers.contains('MTN')}" value="MTN">MTN Mobile Money</option>
                            <option th:if="${providers.contains('ORANGE')}" value="ORANGE">Orange Mobile Money</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label th:text="#{page.wallet.payment.form.mobile_number}">Name</label>
                        <input class="form-control" id="mobile-number" maxlength="30" name="mobileNumber" required="required" th:field="*{mobileNumber}"/>
                        <small class="form-text text-muted" th:text="#{page.partner.payment.form.mobile_number.help}">Help</small>
                    </div>

                    <div class="form-group">
                        <label th:text="#{page.partner.payment.form.name}">Name</label>
                        <input class="form-control" id="full-name" maxlength="100" name="fullName" required="required" th:field="*{fullName}"/>
                        <small class="form-text text-muted" th:text="#{page.partner.payment.form.name.help}">Help</small>
                    </div>

                    <!-- Toolbar -->
                    <div class="margin-top padding-top">
                        <button class="btn btn-primary" id="btn-submit" th:text="#{button.save}" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>


</body>
</html>
