<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar-blog(${user}, false, null)"></div>

<div class="container border main-content margin-top-2x padding-2x story-list">
    <div>
        <a href="/me/calendar">
            <i class="fas fa-arrow-left"></i>
            <span th:text="#{navbar.calendar}">Calendar</span>
        </a>
    </div>
    <h1 th:text="#{page.calendar.post.title}">Post</h1>

    <div class="margin-top-2x border-top padding-top">
        <h4 th:text="#{label.story}">Story</h4>
        <div>
            <span th:text="${post.story.title}">Story Title</span>
            <span class="badge" th:classappend="${post.story.published} ? 'badge-success' : 'badge-secondary'"
                  th:text="#{'story.status.' + ${post.story.status}}"
            >Published</span>
        </div>
        <div class="margin-top">
            <b th:text="#{label.publish_date}">Date Publication</b>:
            <i class="far fa-calendar-alt"></i>
            <span th:if="${post.story.published}" th:text="${post.story.publishedDateTimeText}">2020-20-10</span>
            <span th:if="!${post.story.published}" th:text="${post.story.scheduledPublishDateTimeText}">2020-20-10</span>
        </div>
    </div>

    <div class="margin-top-2x border-top padding-top">
        <h4 th:text="#{label.post}">Post</h4>
        <div>
            <img height="24" th:src="${post.channel.pictureUrl}" width="24"/>
            <span th:text="#{'channel.' + ${post.channel.type}}">Twitter</span>
            <span class="badge badge-success" th:if="${post.published}" th:text="#{label.published}">Published</span>
        </div>
        <div class="margin-top">
            <b th:text="#{label.publish_date}">Date Publication</b>:
            <i class="far fa-calendar-alt"></i>
            <span th:if="${post.published}" th:text="${post.postDateTimeText}">2020-20-10</span>
            <span th:if="!${post.published}" th:text="${post.scheduledPostDateTimeText}">2020-20-10</span>
        </div>
        <div class="social-post-card margin-top-2x">
            <div class="padding">
                <span th:text="${post.message}">Message</span>.
                <span class="message-url" th:text="${post.story.readUrl}">URL</span>
            </div>
            <div>
                <img th:if="${post.hasPicture}" th:src="${post.pictureUrl}"/>
                <div class="padding border" th:if="!${post.hasPicture}" th:text="#{label.no_picture}">No Picture</div>
            </div>
            <div class="padding">
                <button class="btn-upload btn btn-sm btn-light margin-top" th:text="#{button.upload_picture}">Upload Logo</button>
                <input class="hidden" id="file-upload" type="file"/>
                <div class="loading hidden">
                    <i class="fas fa-spinner fa-spin"></i>
                    <span th:text="#{label.loading}">Loading...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-top padding-top-2x" th:if="!${post.published}">
        <a class="btn btn-primary" id="btn-submit" th:href="'/me/calendar/edit?id=' + ${post.id}"
           th:text="#{button.edit}">Edit</a>

        <a class="btn btn-danger float-right" href="javascript: delete_post()" id="btn-delete"
           th:text="#{button.delete}">Delete</a>
        <div class="clearfix"></div>
    </div>


</div>

<div th:replace="components/layout :: footer"></div>


<script th:inline="javascript">
    /*<![CDATA[*/

    function delete_post() {
        const id = /*[[${post.id}]]*/ '';
        if (confirm(/*[[#{label.confirm_delete_post}]]*/'')) {
            window.location.href = '/me/calendar/post/delete?id=' + id;
        }
    }

    $('.btn-upload').click(function () {
        $('#file-upload').click();
    });

    $('#file-upload').change(function () {
        const file = $(this).prop('files')[0];
        if (file.type.startsWith('image/')) {
            console.log('Uploading ', file);

            $('.btn-upload').addClass('hidden');
            $('.loading').removeClass('hidden')
            wutsi.upload(file)
                .then(function (data) {
                    const id = /*[[${post.id}]]*/ '';
                    window.location.href = '/me/calendar/post/picture?id=' + id + '&url=' + data.url;
                });
        }
    });

    /*]]>*/
</script>

</body>

</html>
