<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body class="paper">
<div th:replace="components/layout :: navbar-blog(${blog}, false, ${blog.slug})"></div>


<div class="container">
    <div class="row">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-2 col-lg-8">

            <div class="main-content border text-center padding margin-bottom-4x" th:if="${plan}">
                <h1 th:text="${blog.fullName}">Blog Name</h1>
                <p th:text="${blog.biography}">Blog bio</p>

                <div class="border rounded">
                    <div class="row">
                        <div class="col-12 col-md-6 padding">
                            <b class="highlight" th:text="${plan.internationalRate.yearly}">10000</b>
                            /
                            <span th:text="#{label.year}">year</span>
                        </div>
                        <div class="col-12 col-md-6 padding">
                            <a th:href="${paypalCheckoutUrl}">
                                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png"/>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 padding">
                            <b class="highlight" th:text="${plan.rate.yearly}">10000</b>
                            /
                            <span th:text="#{label.year}">year</span>
                        </div>
                        <div class="col-12 col-md-6 padding">
                            <a class="btn btn-primary" th:href="${localCheckoutUrl}">
                                Checkout
                            </a>
                        </div>
                    </div>
                    <div class="border-top padding" th:text="!${plan.description.isEmpty()}">
                        Description
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>

</body>
</html>
