<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" th:lang="${page.language}">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body class="paper">
    <div th:replace="components/layout :: navbar-blog(${blog}, ${showFollowButton}, ${blog.slug})"></div>

    <div class="author-navbar padding border-bottom box-filled-white">
        <div th:replace="components/author :: card(${blog}, !${toggles.follow})"></div>
        <div th:if="${showCreateStoryButton}" class="margin-top text-center">
            <a id="btn-create-story" class="btn btn-primary" href="/editor" th:text="#{button.create_first_story}">Write your first Story</a>
        </div>
    </div>
    <div th:if="${showFollowButton}">
        <div th:replace="components/follow :: panel(${blog}, ${blog.slug})"></div>
    </div>

    <div class="container margin-top">
        <div class="row">
            <div id="my-stories" class="col-12 offset-lg-1 col-lg-6">
                <div th:each="story, it: ${myStories}">
                    <section class="padding border rounded">
                        <div th:replace="components/story :: story-card(${story}, 'read', ${it.index})"></div>
                    </section>

                    <div th:if="${it.index} == 0">
                        <div th:replace="components/follow :: who-to-follow"></div>
                    </div>
                </div>

                <div th:if="!${myStories} OR ${myStories.isEmpty()}">
                    <div th:replace="components/follow :: who-to-follow"></div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div id="following-stories" class="border margin-bottom rounded box-filled-white"
                     th:if="${followingStories} AND !${followingStories.isEmpty()}"
                >
                    <h4 class="padding mb-0" th:text="#{page.blog.from_blog_you_follow}">From Blog you Follow</h4>
                    <section class="padding border-top" th:each="story,it: ${followingStories}">
                        <div th:replace="components/story :: story-summary-card(${story}, false, 'read', ${it.index})"></div>
                    </section>
                </div>

                <div id="latest-stories" class="border rounded box-filled-white"
                     th:if="${latestStories} AND !${latestStories.isEmpty()}"
                >
                    <h4 class="padding mb-0" th:text="#{page.blog.latest_stories}">Latest Story</h4>
                    <section class="padding border-top" th:each="story,it: ${latestStories}">
                        <div th:replace="components/story :: story-summary-card(${story}, false, 'read', ${it.index})"></div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="components/layout :: announcement"></div>
    <div th:replace="components/layout :: footer"></div>

</body>
</html>
