<table class="product table" th:if="!${products.isEmpty()}">
    <thead>
        <tr>
            <th scope="col" class="thumbnail"></th>
            <th scope="col" th:text="#{name}">Nom</th>
            <th scope="col" th:text="#{quantity}">quantity</th>
            <th scope="col" th:text="#{price}" width="15%">price</th>
            <th scope="col" th:text="#{published}">Published</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="product: ${products}" th:data-id="${product.id}" class="product">
            <td>
                <img class="thumbnail" th:async-src="${product.thumbnail.smallUrl}" th:if="${product.thumbnail}" th:title="${product.name}"/>
                <img class="thumbnail" src="/assets/img/no-thumbnail.jpg" th:if="!${product.thumbnail}" th:title="${product.name}"/>
            </td>
            <td>
                <h6>
                    <a th:href="'/product/' + ${product.id}" th:text="${product.name}">Product #1</a>
                </h6>
                <div th:text="${product.shortDescription}" th:if="${product.shortDescription}">Description</div>
            </td>
            <td>
                <!--
                <div th:if="${product.inventory.track}" th:text="${product.inventory.quantity}">1000</div>
                -->
            </td>
            <td>
                <!--
                <div th:if="${product.price}">
                    <div th:text="${product.price.price}">1000 XFA</div>
                    <div class="price-discount" th:if="${product.price.savingsPercentage}">
                        <span class="price-discount-percent" th:text="${product.price.savingsPercentage}">80</span>
                    </div>
                </div>
                -->
            </td>
            <td>
                <img class="channel-logo" th:each="channel : ${product.channels}" th:src="${channel.logoUrl}" th:title="${channel.displayName}" />
            </td>
        </tr>
    </tbody>
</table>

<div th:if="${products.isEmpty()} AND ${showEmptyMessage}">
    <h4 th:text="#{products.empty.title}"></h4>
    <p th:text="#{products.empty.description}"></p>
    <a id="btn-add-first-product" class="btn btn-primary" th:text="#{button.product.add}" href="/product/add">Create Button</a>
    <a id="btn-import-first-product" class="btn btn-link" th:text="#{button.product.import}" href="/product/import">Inport</a>
</div>


<script>
    $(document).ready(function(){
        $('img[async-src]').each(function() {
            $(this).attr("src", $(this).attr("async-src"));
        });
    });
</script>
