<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="components/layout :: sidebar"></div>
        </div>
        <div class="col-md-10 main-content">
            <section>
                <h2 th:text="#{config.general.title}">Title and Description</h2>
                <div th:text="#{config.general.description}">Description</div>

                <div id="alert-saved" class="alert alert-success"th:if="${param.saved}" th:text="#{config.general.saved}">
                    Votre configuration a &eacute;t&eacute; enregistr&eacute;e avec succ&egrave;s
                </div>
            </section>

            <form id="store" th:action="@{/settings/general/save}" th:object="${store}" method="post">
                <section>
                    <h3 th:text="#{config.general.contact.title}">Contact</h3>
                    <p th:text="#{config.general.contact.description}">Description</p>

                    <div class="form-group">
                        <label for="name" th:text="#{name}">Name</label>
                        <input th:field="*{name}" id="name" class="form-control" disabled="disabled" />
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="email" th:text="#{email}">Email</label>
                            <input th:field="*{email}" id="email" class="form-control" type="email" />
                            <small class="form-text text-muted" th:text="#{website.email.help}">Help</small>
                        </div>

                        <div class="form-group col-md-4">
                            <input name="whatsapp" type="hidden" th:field="*{whatsapp}"/>

                            <label for="intl-whatsapp" th:text="#{whatsapp}">Mobile</label>
                            <input th:value="${store.whatsapp}" id="intl-whatsapp" type="tel" class="form-control" data-target-id="whatsapp" />
                            <small class="form-text text-muted" th:text="#{website.whatsapp.help}">Help</small>
                        </div>

                        <div class="form-group col-md-4">
                            <input name="phone" type="hidden" th:field="*{phone}"/>

                            <label for="intl-phone" th:text="#{phone}">Phone</label>
                            <input th:value="${store.phone}" id="intl-phone" type="tel" class="form-control" data-target-id="phone" />
                        </div>
                    </div>
                </section>

                <section>
                    <h3 th:text="#{config.general.address.title}">Address</h3>
                    <p th:text="#{config.general.address.description}">Description</p>

                    <div class="form-group">
                        <label for="displayName" th:text="#{legalName}">Legal Name</label>
                        <input th:field="*{displayName}" id="displayName" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="street" th:text="#{street}">Street</label>
                        <input th:field="*{street}" id="street" class="form-control" />
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label for="cityId" th:text="#{city}">City</label>
                            <select th:field="*{cityId}" id="cityId" class="form-control">
                                <option value=""></option>
                                <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="zip" th:text="#{zip_code}">ZipCode</label>
                            <input th:field="*{zip}" id="zip" class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label for="provinceId" th:text="#{province}">Province</label>
                            <select th:field="*{provinceId}" id="provinceId" class="form-control">
                                <option value=""></option>
                                <option th:each="province : ${states}" th:value="${province.id}" th:text="${province.name}"></option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="country" th:text="#{country}">Country</label>
                            <select th:field="*{country}" id="country" class="form-control" disabled="disabled">
                                <option th:each="country : ${countries}" th:value="${country.country}" th:text="${country.displayCountry}"></option>
                            </select>
                        </div>
                    </div>
                </section>

                <div>
                    <button type="submit" id="btn-submit" class="btn btn-primary" th:text="#{save}">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>
</body>

</html>
