<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="components/layout :: sidebar"></div>
        </div>
        <div class="col-md-10 main-content row">
            <section id="section-logo" class="col-md-6">
                <h2 th:text="#{logo}">Logo</h2>
                <p th:utext="#{logo.message}">Message</p>

                <div class="mb-1">
                    <button data-target-id="logo-upload" class="btn-upload btn btn-primary btn-sm" th:text="#{upload.image}">Upload Logo</button>
                    <input id="logo-upload" class="input-upload" type="file" style="display:none"
                           th:data-logo-type="logo"
                           th:data-url="${uploadUrl}"
                    />
                    <div class="clearfix"></div>
                </div>

                <div class="logo-container">
                    <div class="remove" th:if="${store.logoUrl}" th:data-logo-type="logo">x</div>
                    <img id="img-logo"  class="img-fluid img-thumbnail" th:src="${store.logoUrl}"  th:if="${store.logoUrl}" width="250" height="150"/>
                    <img id="noimage-logo" class="img-fluid img-thumbnail" src="/assets/wutsi/img/logo/noimage.png" th:if="!${store.logoUrl}"  width="250" height="150"/>
                </div>
            </section>

            <section id="section-favicon" class="col-md-6">
                <h2 th:text="#{favicon}">Favicon</h2>
                <p th:utext="#{favicon.message}">Message</p>

                <div class="mb-1">
                    <button data-target-id="favicon-upload"  class="btn-upload btn btn-primary btn-sm" th:text="#{upload.image}">Upload Logo</button>
                    <input id="favicon-upload" class="input-upload" type="file" style="display:none" th:data-logo-type="favicon" th:data-url="${uploadUrl}"/>

                    <div class="clearfix"></div>
                </div>

                <div class="logo-container">
                    <div class="remove" th:if="${store.faviconUrl}" th:data-logo-type="favicon">x</div>
                    <img id="img-favicon" class="img-fluid img-thumbnail" th:src="${store.faviconUrl}"  th:if="${store.faviconUrl}" width="64" height="64" />
                    <img id="noimage-favicon" class="img-fluid img-thumbnail" src="/assets/wutsi/img/logo/noimage.png" th:if="!${store.faviconUrl}"  width="64" height="64" />
                </div>
            </section>

            <script type="application/javascript">
                $(".btn-upload").click(function(){
                    var target = $(this).attr('data-target-id');
                    $('#' + target).click();
                });

                $(".input-upload").change(function(){
                    var url = $(this).attr('data-url');
                    var type = $(this).attr('data-logo-type');
                    var form = new FormData();
                    form.append('file', $(this).prop('files')[0]);

                    $.ajax({
                        type: 'POST',
                        url: url,
                        contentType: false,
                        processData: false,
                        data: form
                    }).done(function(response){
                        document.location.href = '/settings/logo/set?type=' + type + '&url=' + encodeURI(response.asset.url);
                    }).fail(function(data){
                        wutsi.error('ERR_STORE_UPLOAD_LOGO', data);
                    });
                });

                $('.logo-container .remove').click(function(){
                    var type = $(this).attr('data-logo-type');
                    document.location.href = '/settings/logo/reset?type=' + type;
                });
            </script>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>


</body>

</html>
