<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="components/layout :: sidebar"></div>
        </div>
        <div class="col-md-10 main-content">
            <section>
                <h2 th:text="#{config.website.title}">Title and Description</h2>
                <div th:text="#{config.website.description}">Description</div>

                <div id="alert-saved" class="alert alert-success"th:if="${param.saved}" th:text="#{config.website.saved}">
                    Votre configuration a &eacute;t&eacute; enregistr&eacute;e avec succ&egrave;s
                </div>
            </section>

            <form id="store" th:action="@{/settings/website/save}" th:object="${website}" method="post">

                <!-- SEO -->
                <section>
                    <h4 th:text="#{website.section.seo.title}">Title and Description</h4>
                    <p th:text="#{website.section.seo.description}">Description</p>

                    <div class="form-group">
                        <label for="title" th:text="#{title}">Title</label>
                        <input th:field="*{title}" id="title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="description" th:text="#{description}">Description</label>
                        <textarea th:field="*{description}" id="description" class="form-control" placeholder="Description" rows="3" maxlength="160"></textarea>
                    </div>
                </section>

                <!-- Home page -->
<!--
                <section>
                    <h4 th:text="#{website.section.home.title}">Home</h4>
                    <p th:text="#{website.section.home.description}">Description</p>

                    <div class="form-group">
                        <label for="headline" th:text="#{headline}">Headline</label>
                        <input th:field="*{headline}" id="headline" class="form-control" maxlength="100" />
                    </div>
                    <div class="form-group">
                        <label for="subHeadline" th:text="#{subHeadline}">Sub Headline</label>
                        <textarea th:field="*{subHeadline}" id="subHeadline" class="form-control" maxlength="200" rows="2"/>
                    </div>

                    <div class="form-group">
                        <label th:text="#{featureProducts}">Featured Products</label>
                        <select th:field="*{featureProductsCollectionId}" id="featureProductsCollectionId" class="form-control">
                            <option th:value="-1"></option>
                            <option th:each="collection : ${collections}" th:value="${collection.id}" th:text="${collection.name}">Collection</option>
                        </select>
                        <p class="form-text text-muted" th:text="#{featureProducts.help}">Help</p>
                    </div>
                    <div class="form-group">
                        <label th:text="#{featureCollections}">Featured Collections</label>
                        <div class="container-fluid">
                            <div class="row">
                                <select th:field="*{featureCollectionId1}" class="form-control col-md-4">
                                    <option th:value="-1"></option>
                                    <option th:each="collection : ${collections}" th:value="${collection.id}" th:text="${collection.name}">Collection</option>
                                </select>
                                <select th:field="*{featureCollectionId2}" class="form-control col-md-4">
                                    <option th:value="-1"></option>
                                    <option th:each="collection : ${collections}" th:value="${collection.id}" th:text="${collection.name}">Collection</option>
                                </select>
                                <select th:field="*{featureCollectionId3}" class="form-control col-md-4">
                                    <option th:value="-1"></option>
                                    <option th:each="collection : ${collections}" th:value="${collection.id}" th:text="${collection.name}">Collection</option>
                                </select>
                                <select th:field="*{featureCollectionId4}" class="form-control col-md-4">
                                    <option th:value="-1"></option>
                                    <option th:each="collection : ${collections}" th:value="${collection.id}" th:text="${collection.name}">Collection</option>
                                </select>
                                <select th:field="*{featureCollectionId5}" class="form-control col-md-4">
                                    <option th:value="-1"></option>
                                    <option th:each="collection : ${collections}" th:value="${collection.id}" th:text="${collection.name}">Collection</option>
                                </select>
                                <select th:field="*{featureCollectionId6}" class="form-control col-md-4">
                                    <option th:value="-1"></option>
                                    <option th:each="collection : ${collections}" th:value="${collection.id}" th:text="${collection.name}">Collection</option>
                                </select>
                            </div>
                        </div>
                        <p class="form-text text-muted" th:text="#{featureCollections.help}">Help</p>
                    </div>
                </section>
-->

                <!-- About -->
                <section>
                    <h4 th:text="#{website.section.about.title}">About Us</h4>
                    <p th:text="#{website.section.about.description}">Description</p>

                    <div class="form-group">
                        <textarea th:field="*{about}" id="about" class="form-control ckeditor" rows="5"></textarea>
                    </div>
                </section>

                <div>
                    <button type="submit" id="btn-submit" class="btn btn-primary" th:text="#{save}">Enregistrer</button>
                </div>

            </form>

        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>

</body>

</html>
