<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="components/layout :: sidebar"></div>
        </div>

        <div class="col-md-7 main-content">
            <section>
                <h1 th:text="#{addNewProduct}">Ajouter un Produit</h1>
            </section>

            <form th:action="@{/product/create}" th:object="${product}" method="post">
                <section>
                    <div class="form-group">
                        <label for="name" th:text="#{name}">Name</label>
                        <input id="name" th:field="*{name}" class="form-control" required="required" maxlength="200" />
                    </div>

                    <div class="form-group">
                        <label for="product-type" th:text="#{product_type}" class="required">Product Type</label>
                        <select id="product-type" class="form-control" th:field="*{productTypeId}" required="required">
                            <option value="-1"></option>
                            <option th:each="type: ${productTypes}" th:value="${type.id}" th:text="${type.displayName}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="short-description" th:text="#{short_description}">Short Description</label>
                        <textarea id="short-description" th:field="*{shortDescription}" class="form-control" rows="2" maxlength="150"></textarea>
                        <p class="form-text text-muted" th:text="#{product.short_description.help}">Help</p>
                    </div>
                    <div class="form-group">
                        <label for="description" th:text="#{description}">Short Description</label>
                        <textarea id="description" th:field="*{description}" class="form-control ckeditor" rows="5"></textarea>
                        <p class="form-text text-muted" th:text="#{product.description.help}">Help</p>
                    </div>
                </section>
                <div class="btn-group">
                    <button id="btn-submit" type="submit" class="btn btn-sm btn-primary" th:text="#{button.save}">Enregistrer</button>
                    <a id="btn-cancel" class="btn btn-sm" href="/product" th:text="#{button.cancel}">Annuller</a>
                </div>
            </form>
        </div>

    </div>
</div>

<div th:replace="components/layout :: footer"></div>

</body>

</html>
