<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="components/layout :: sidebar"></div>
        </div>

        <div class="col-md-7 main-content">
            <section>
                <p>
                    <a id="btn-back-link" th:href="${linkBackUrl}">
                        <i class="fas fa-arrow-left"></i> <span th:text="#{products}">Produits</span>
                    </a>
                </p>

                <h1 th:text="#{product.import.title}">Import Products</h1>
                <p th:text="#{product.import.description}">Description</p>

                <div id="upload-status" class="alert alert-success" style="display:none">
                    <span class="product-count">0</span>
                    <span th:text="#{products_uploaded}">Product(s) uploaded</span>
                </div>
                <div id="upload-error" class="alert alert-warning" style="display:none">
                    <ul>
                    </ul>
                </div>
            </section>
            <form>
                <section>
                    <div class="form-group">
                        <label for="file" th:text="#{file}">File</label>
                        <input id="file" type="file" class="form-control" required="required" th:data-url="${linkImportCsvUrl}"/>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="importImages" name="importImages" class="form-check-input" />
                        <label for="importImages" th:text="#{product.import.updateImages}">Update Images</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="importInventory" name="importInventory" class="form-check-input" />
                        <label for="importInventory" th:text="#{product.import.updateInventory}">Update Inventory</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="publish" name="publish" class="form-check-input" />
                        <label for="publish" th:text="#{product.import.publish}">Publish</label>
                    </div>
                </section>
                <div class="btn-group">
                    <button id="btn-submit" class="btn btn-sm btn-primary" th:text="#{button.save}">Enregistrer</button>
                    <a id="btn-cancel" class="btn btn-sm" th:href="${linkBackUrl}" th:text="#{button.cancel}">Annuller</a>
                </div>
            </form>

        </div>
        <script type="application/javascript">
            $("#btn-submit").click(function(event){
                event.preventDefault();

                var url = $('#file').attr('data-url')
                    + '&importImages=' + $('#importImages').is(':checked')
                    + '&importInventory=' + $('#importInventory').is(':checked')
                    + '&publish=' + $('#publish').is(':checked')
                ;
                var form = new FormData();
                form.append('file', $('#file').prop('files')[0]);

                $('#upload-status').hide();
                $('#upload-error').hide();
                $('#upload-error ul').empty();
                enabled(false);

                $.ajax({
                    type: 'POST',
                    url: url,
                    contentType: false,
                    processData: false,
                    data: form
                }).done(function(response){
                    console.log('Uploaded to ' + url, response);

                    enabled(true);
                    $('#upload-status .product-count').text(response.count);
                    $('#upload-status').show();

                    if (response.errors && response.errors.length > 0) {
                        for (i = 0; i < response.errors.length; i++) {
                            $('#upload-error ul').append(
                                $('<li>').text(response.errors[i].message)
                            );
                        }
                        $('#upload-error').show();
                    }

                }).fail(function(data){
                    enabled(true);
                    wutsi.error('ERR_PRODUCT_UPLOAD_CSV', data);
                });
            });

            function enabled(flag){
                if (flag){
                    $('.btn').removeAttr('disabled');
                } else {
                    $('.btn').attr('disabled', 'disabled');
                }
            }
        </script>

    </div>
</div>

<div th:replace="components/layout :: footer"></div>

</body>

</html>
