<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="components/layout :: sidebar"></div>
        </div>
        <div class="col-md-10 main-content">
            <section>
                <h2  th:text="#{products}">Produits</h2>
                <div th:text="#{products.description}">Description</div>

                <div class="border-top margin-top padding-top">
                    <a id="btn-import" class="btn btn-link" href="/product/import">
                        <i class="fas fa-upload"></i>
                        <span th:text="#{button.import}">Import</span>
                    </a>

                    <a id="btn-export" class="btn btn-link" href="/product/export">
                        <i class="fas fa-download"></i>
                        <span th:text="#{button.export}">Export</span>
                    </a>

                    <a id="btn-add-product" class="btn btn-primary float-right" href="/product/add" th:text="#{button.product.add}">Ajouter un Produit</a>
                </div>
            </section>
            <section>
                <div id="product-container">
                    <span th:text="#{products.loading}">Loading Products</span>...
                </div>
                <script>
                    $(document).ready(function(){
                        $('#product-container').load('/product/list?showEmptyMessage=true');
                    });
                </script>
            </section>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>

</body>

</html>
