<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="components/layout :: sidebar"></div>
        </div>

        <div class="col-md-7 main-content">
            <section>
                <p>
                    <a id="btn-back-link" th:href="${linkBackUrl}">
                        <i class="fas fa-arrow-left"></i> <span th:text="#{products}">Produits</span>
                    </a>

                    <a id="btn-delete" class="btn btn-sm btn-danger float-right ml-1" th:href="${linkDeleteUrl}" th:text="#{button.delete}" onclick="return confirm_delete()">Delete</a>
                    <a id="btn-publish" class="btn btn-sm btn-primary float-right" th:href="${linkPublishUrl}" th:text="#{publish}">Publish</a>
                </p>

                <h1 th:text="${product.name}">Title</h1>

                <div id="product-success-message" class="alert alert-success" th:if="${message}" th:text="${message}"></div>
                <div id="product-error-message" class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                <div id="product-validation" th:data-id="${product.id}"></div>
                <script>
                    var id = $('#product-validation').attr('data-id');
                    $('#product-validation').load('/product/' + id + '/validate');
                </script>
            </section>

            <!-- Infos -->
            <section id="section-info">
                <h3>
                    <span th:text="#{information}">Information</span>

                    <a id="btn-edit-info" class="btn btn-sm btn-primary float-right" th:href="${linkEditUrl}" th:text="#{button.edit}">Modifier</a>

                    <script th:inline="javascript">
                        /*<![CDATA[*/

                        function confirm_delete() {
                            var message = /*[[#{product.delete.confirm}]]*/ '#';
                            return confirm(message)
                        }

                        /*]]>*/
                    </script>
                </h3>
                <table class="table">
                    <tbody>
                        <tr>
                            <td th:text="#{name}" class="label">Name</td>
                            <td th:text="${product.name}">Name of Product</td>
                        </tr>
                        <tr th:if="${product.shortDescription}">
                            <td th:text="#{short_description}" class="label">ShortDescription</td>
                            <td th:utext="${product.shortDescription}">Description of Product</td>
                        </tr>
                        <tr th:if="${product.description}">
                            <td th:text="#{description}" class="label">Description</td>
                            <td th:utext="${product.description}">Description of Product</td>
                        </tr>
                        <tr th:each="attribute: ${product.productType.attributes}" th:if="${product.attributes[attribute.name]}">
                            <td class="label" th:text="${attribute.displayName}"></td>
                            <td th:text="${product.attributes[attribute.name]}"></td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- Price -->
            <!--
            <section id="section-price">
                <h3>
                    <span th:text="#{price}">Price</span>
                    <a id="btn-edit-price" class="btn btn-sm btn-primary float-right" th:href="${linkPriceUrl}" th:text="#{edit}">Modifier</a>
                </h3>
                <table class="table" th:if="${product.price}">
                    <tbody>
                        <tr>
                            <td th:text="#{price}" class="label" width="50%">Base Price</td>
                            <td id="price" th:text="${product.price.price}">1000 XAF</td>
                        </tr>
                        <tr th:if="${product.price.comparablePrice}">
                            <td th:text="#{comparablePrice}" class="label">Comparable Price</td>
                            <td id="comparable-price" th:text="${product.price.comparablePrice}">1000 XAF</td>
                        </tr>
                        <tr th:if="${product.price.savingsPercentage}">
                            <td th:text="#{discount}" class="label">Discount</td>
                            <td id="discount">
                                <div class="price-discount">
                                    <span class="price-discount-percent" th:text="${product.price.savingsPercentage}">80</span>
                                </div>
                            </td>
                        </tr>
                        <tr th:if="${product.price.cost}">
                            <td th:text="#{cost}" class="label">Discount</td>
                            <td id="cost" th:text="${product.price.cost}">1111</td>
                        </tr>
                        <tr th:if="${product.price.taxable}">
                            <td th:text="#{taxable}" colspan="2">Discount</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            -->

            <!-- Inventory -->
            <!--
            <section id="section-inventory">
                <h3>
                    <span th:text="#{inventory}">Inventory</span>
                    <a id="btn-edit-inventory" class="btn btn-sm btn-primary float-right" th:href="${linkInventoryUrl}" th:text="#{edit}">Modifier</a>
                </h3>

                <table class="table">
                    <tbody>
                        <tr>
                            <td th:text="#{track_inventory}" class="label">Base Price</td>
                            <td id="track">
                                <span th:if="${product.inventory.track}" th:text="#{yes}">Yes</span>
                                <span th:if="!${product.inventory.track}" th:text="#{no}">No</span>
                            </td>
                        </tr>
                        <tr th:if="${product.inventory.track}">
                            <td th:text="#{quantity}" class="label">Quantity</td>
                            <td id="quantity" th:text="${product.inventory.quantity}">1000</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            -->

            <!-- Images -->
            <section id="section-image">
                <div th:replace="components/product :: gallery(${product})"></div>
            </section>

            <!-- SEO -->
            <section id="section-seo">
                <h3>
                    <span th:text="#{searchEnginePreview}">SEO Preview</span>
                    <a id="btn-edit-seo" class="btn btn-sm btn-primary float-right" th:href="${linkSEOUrl}" th:text="#{edit}">Modifier</a>
                </h3>
                <div class="seo-card">
                    <div class="seo-title" th:text="${product.seo.title}">Title</div>
                    <div class="seo-url" th:text="${product.seo.url}">URL</div>
                    <div class="seo-description" th:text="${product.seo.description}">Description</div>
                </div>
            </section>

            <!-- Product Type -->
            <!--
            <section id="section-product-type" th:if="${linkProductTypeUrl}">
                <h3 th:text="${product.productType.displayName}">Product Type</h3>
                <div id="product-type-container">
                    <span th:text="#{loading}">Loading</span>...
                </div>
                <script th:inline="javascript">
                /*<![CDATA[*/

                    $(document).ready(function(){
                        var productTypeUrl = /*[[${linkProductTypeUrl}]]*/ '#';
                        $('#product-type-container').load(productTypeUrl);
                    });

                /*]]>*/
                </script>
            </section>
            -->
        </div>

        <div class="col-md-3 sidebar">
            <!-- Status -->
            <section>
                <table class="table">
                    <tbody>
                        <tr>
                            <td th:text="#{type}" class="label">Type</td>
                            <td th:text="${product.productType.displayName}">Book</td>
                        </tr>
                        <tr>
                            <td th:text="#{created}" class="label">Cr&eacute;e</td>
                            <td th:text="${product.creationDateTime}">Mon 30 Jun 2015</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- Channels -->
            <section>
                <div id="channel-container">
                    <table class="table">
                        <tr>
                            <td>
                                <span th:text="#{channels.loading}">Loading Channel</span>...
                            </td>
                        </tr>
                    </table>
                </div>
                <script th:inline="javascript">
                /*<![CDATA[*/

                    var productId = /*[[${product.id}]]*/ '#';
                    $(document).ready(function(){
                        $('#channel-container').load('/product/' + productId + '/channels');
                    });

                /*]]>*/
                </script>
            </section>

            <!-- Contacts -->
            <!--
            <section id="section-contact" th:if="${product.productType.supportContacts}">
                <h3 th:text="#{contacts}">Contacts</h3>
                <div id="contact-container">
                    <table class="table product-contacts">
                        <tbody>
                        <tr>
                            <td>
                                <span th:text="#{contacts.loading}">Loading Contacts</span>...
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <script th:inline="javascript">
                    /*<![CDATA[*/

                    var contactUrl = /*[[${contactUrl}]]*/ '#';
                    $(document).ready(function() {
                        $('#contact-container').load(contactUrl);
                    });

                    /*]]>*/
                </script>
            </section>
            -->

            <!-- Collections -->
            <section id="section-collection">
                <h3 th:text="#{collections}">Collections</h3>
                <div id="collection-container">
                    <table class="table">
                        <tr>
                            <td>
                                <span th:text="#{collections.loading}">Loading Collections</span>...
                            </td>
                        </tr>
                    </table>
                </div>
                <script th:inline="javascript">
                /*<![CDATA[*/

                    var collectionUrl = /*[[${collectionUrl}]]*/ '#';
                    $(document).ready(function() {
                        $('#collection-container').load(collectionUrl);
                    });

                /*]]>*/
                </script>
            </section>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>


</body>

</html>
