<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body class="paper">
<div th:replace="components/layout :: navbar-blog(${blog}, false, ${blog.slug})"></div>


<div class="container">
    <div class="row">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

            <div class="main-content border text-center padding-2x margin-bottom-4x">
                <h1 th:text="${blog.fullName}">Blog Name</h1>

                <div class="border rounded padding text-left">
                    <h4>
                        <i class="fa fa-check-circle"></i>
                        <span th:text="#{page.subscription.subscribed.success_title}">Thank you for your payment</span>
                    </h4>
                    <p th:text="#{page.subscription.subscribed.success_message_1}">
                        Your transaction has been completed, and a receipt for your purchase has been emailed to you.
                    </p>
                    <p th:text="#{page.subscription.subscribed.success_message_2}">
                        You are now a Premium subscriber
                    </p>
                    <p>
                        <b>
                            <a th:href="${blog.slug}" th:text="#{page.subscription.subscribed.back_to_blog}">Back to my Blog </a>
                        </b>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>

</body>
</html>
