<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="alert alert-danger container margin-top" th:if="${error}" th:text="#{'error.' + ${error}}">Error</div>

<div id="story-load-error" class="alert alert-danger container margin-top hidden">
    <div class="not-found hidden" th:utext="#{story.error.not-found}"></div>
    <div class="permission-denied hidden" th:utext="#{story.error.permission-denied}"></div>
    <div class="unknown hidden" th:utext="#{story.error.load}"></div>
</div>

<div id="story-editor" class="container editor border margin-top">

    <div class="row border-bottom">
        <div class="col-12 padding">
            <div id="story-status" class="float-left margin-right" th:text="#{story.status.draft}"></div>
            <div id="editor-status" class="float-left"></div>

            <div class="close">
                <button id="btn-close">X</button>
            </div>
            <button id="btn-publish" class="btn btn-primary btn-sm float-right" th:text="#{button.publish}">Publish</button>
            <button id="btn-preview" class="btn btn-light btn-sm float-right" disabled="disabled" th:text="#{button.preview}">Preview</button>
        </div>
    </div>

    <div class="row border-bottom">
        <div class="col-12 padding title-container">
            <input id="title" name="title" value="" th:placeholder="#{page.editor.title}" autocomplete="off" maxlength="200" />
        </div>
    </div>

    <div class="row">
        <div class="col-12 editorjs-container">
            <div id="editorjs"></div>
        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
<script th:src="${page.assetUrl} + '/assets/wutsi/js/wutsi-editorjs.js'"></script>

<script th:inline="javascript">
/*<![CDATA[*/

    var storyId = /*[[${storyId}]]*/'0';


    function publish(id) {
        window.location.href = '/me/story/' + id + '/publish';
    }

    $(document).ready(function(){
        var editor = new WutsiEJS('editorjs', publish);
        console.log('templates.page.editor', editor);

        if (storyId > 0){
            console.log('Loading Story#' + storyId);
            wutsi.httpGet('/editor/fetch/' + storyId, true)
                .then(function(story){
                    editor.setup(story);
                })
                .catch(function(error){
                    var selector = '';
                    if (error.status == 404) {
                        selector = '#story-load-error .not-found';
                    } else if (error.status == 403) {
                        selector = '#story-load-error .permission-denied';
                    } else {
                        selector = '#story-load-error .unknown';
                    }
                    $(selector).removeClass('hidden');
                    $('#story-load-error').removeClass('hidden');
                    $('#story-editor').addClass('hidden');

                });
        } else {
            editor.setup(null);
        }
    });


/*]]>*/
</script>

<div th:replace="components/layout :: footer"></div>
</body>

</html>
