<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body class="paper">

<div th:replace="components/layout :: navbar"></div>

<div class="container margin-top post-list">
    <section class="offset-md-3 col-md-6 padding border-bottom post" th:each="story: ${stories}">
        <div th:replace="components/story :: card(${story})"></div>
    </section>
</div>

<div th:replace="components/layout :: footer"></div>
</body>

</html>
