<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body class="paper">

<div th:replace="components/layout :: navbar"></div>

<div class="container margin-top post-list">
    <section class="offset-md-3 col-md-6 padding border-bottom post" th:each="story: ${stories}">
        <a th:href="${story.slug}">
            <h2 class="title" th:text="${story.title}">Title</h2>
            <div class="summary" th:text="${story.summary}">Summary</div>
            <div class="author">
                <span th:text="${story.user.fullName}">Ray Sponsible</span>
            </div>
            <div class="meta">
                <span th:text="${story.publishedDateTime}">12 May</span>
                -
                <span th:text="#{story.read_time(${story.readingMinutes})}">3 min</span>
            </div>
        </a>
    </section>
</div>

<div th:replace="components/layout :: footer"></div>
</body>

</html>
