<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container">
    <div class="row margin-top-2x">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

            <div class="main-content border text-center padding-2x">
                <h1 class="margin-top-2x" th:text="#{page.login.header1}">Join Wutsi</h1>
                <p class="margin-top" th:text="#{page.login.info}">
                    Join Wutsi to receive great stories in your phone; and follow authors and topics that you love.
                </p>

                <div class="row margin-top-2x">
                    <div class="col-12 offset-md-1 col-md-10">
                        <a class="sso-button margin-top" href="/login/google" th:if="${toggles.ssoGoogle}" >
                            <i class="fab fa-google"></i>
                            <span th:text="#{page.login.signin-google}">Sign in with Google</span>
                        </a>
                        <a class="sso-button margin-top" href="/login/facebook" th:if="${toggles.ssoFacebook}" >
                            <i class="fab fa-facebook-square"></i>
                            <span th:text="#{page.login.signin-facebook}">Sign in with Facebook</span>
                        </a>
                        <a class="sso-button margin-top" href="/login/twitter" th:if="${toggles.ssoTwitter}" >
                            <i class="fab fa-twitter-square"></i>
                            <span th:text="#{page.login.signin-twitter}">Sign in with Twitter</span>
                        </a>
                        <a class="sso-button margin-top" href="/login/github" th:if="${toggles.ssoGithub}">
                            <i class="fab fa-github-square"></i>
                            <span th:text="#{page.login.signin-github}">Sign in with Github</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="components/layout :: footer"></div>
</body>

</html>
