<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body class="paper">

<div th:replace="components/layout :: navbar"></div>

<article class="container reader offset-md-3 col-md-6">
    <h1 class="title margin-top" th:text="${story.title}">Title</h1>

    <!-- Author -->
    <div class="margin-top padding border box-filled">
        <div th:replace="components/story :: author(story=${story}, showMeta=true, showBio=false)"></div>
        <div class="text-right">
            <div th:replace="components/story :: share(story=${story})"></div>
        </div>
    </div>

    <!-- Content -->
    <div class="content margin-top" th:utext="${html}">This is a block</div>

    <!-- Tags -->
    <div class="margin-top padding-top border-top">
        <span class="tag margin-right" th:each="tag : ${story.tags}" th:text="${tag.text}">Tag</span>
    </div>

    <!-- Share -->
    <div class="text-right padding">
        <div th:replace="components/story :: share(story=${story})"></div>
    </div>

    <!-- Author -->
    <div class="margin-top padding border-top">
        <div th:replace="components/story :: author(story=${story}, showMeta=false, showBio=true)"></div>
    </div>
</article>

<div th:replace="components/layout :: footer"></div>
</body>

<link rel="stylesheet" th:href="${page.assetUrl} + '/assets/prettify/css/prettify.css'" />
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=css&lang=kotlin&lang=sql&lang=yaml"></script>

</html>
