<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body class="paper">

<div th:replace="components/layout :: navbar"></div>

<article class="container reader offset-md-2 col-md-8">
    <h1 class="title margin-top" th:text="${story.title}">Title</h1>

    <!-- Author -->
    <div class="margin-top uppercase text-small">
        <div>
            <span th:text="#{label.by}">By</span>
            <a th:href="${story.user.slug}">
                <b th:text="${story.user.fullName}">Ray Sponsible</b></a>
        </div>
        <div>
            <span th:text="${story.readingMinutes}">2</span>
            <span th:text="#{label.minutes}">min</span>
        </div>
    </div>

    <!-- Content -->
    <div class="content margin-top" th:utext="${html}">This is a block</div>
    <div class="imported-content-message text-right"
         th:if="${story.sourceUrl}"
         th:utext="#{story.originaly_posted(${story.sourceUrl},${story.sourceSite})}"
    >This story was originally posted on ....</div>

    <!-- Tags -->
    <div class="margin-top">
        <div class="tag margin-bottom margin-right margin-bottom float-left" th:each="tag : ${story.tags}">
            <span th:text="${tag.name}">Tag</span>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- Share -->
    <div class="alert alert-primary text-center" th:if="${preview == false}">
        <div th:replace="components/story :: share(story=${story})"></div>
    </div>

    <!-- Author -->
    <div class="padding border-top">
        <div th:replace="components/story :: author(${story.user})"></div>
    </div>
</article>


<link rel="stylesheet" th:href="${page.assetUrl} + '/assets/prettify/css/prettify.css'" />
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=css&lang=kotlin&lang=sql&lang=yaml"></script>

<script>
    var lastScrollPercent = -1;

    $(document).ready(function(){

        wutsi.track('readstart');
        window.addEventListener('beforeunload', function(){
            wutsi.track('readend');
        });

        $('.content img[async-src]').each(function() {
            $(this).attr("src", $(this).attr("async-src"));
        });

        $(window).on('scroll', function(){
            var s = $(window).scrollTop(),
                d = $(document).height(),
                c = $(window).height();

            var scrollPercent = ((s / (d - c)) * 100) | 0;
            if (scrollPercent % 20 == 0 && scrollPercent > lastScrollPercent && scrollPercent > 0){
                const tmpScrollPercent = lastScrollPercent;
                lastScrollPercent = scrollPercent;
                console.log('ScrollPercent', scrollPercent);
                wutsi.track('scroll', scrollPercent)
                    .catch(function(){
                        lastScrollPercent = tmpScrollPercent;
                    })
                ;
            } else {
                lastScrollPercent = scrollPercent;
            }
        })
    });

</script>

<div th:replace="components/layout :: footer"></div>
</body>

</html>
