<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body class="paper">

<div th:replace="components/layout :: navbar"></div>

<div id="g_id_onload"
     data-callback="g_one_tap_callback"
     th:data-client_id="${page.googleClientId}"
     th:if="${googleOneTap}"
>
</div>

<article class="container reader offset-md-2 col-md-8">
    <h1 class="title margin-top" th:text="${story.title}">Title</h1>

    <!-- Author -->
    <div class="margin-top uppercase text-small">
        <div>
            <span th:text="#{label.by}">By</span>
            <a th:href="${story.user.slug}">
                <b th:text="${story.user.fullName}">Ray Sponsible</b></a>
        </div>
        <div>
            <span th:text="${story.readingMinutes}">2</span>
            <span th:text="#{label.minutes}">min</span>
        </div>
    </div>

    <!-- Content -->
    <div class="content margin-top" th:utext="${html}">This is a block</div>

    <!-- Tags -->
    <div class="margin-top">
        <div class="tag margin-bottom margin-right margin-bottom float-left" th:each="tag : ${story.tags}">
            <span th:text="${tag.name}">Tag</span>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- Share -->
    <div class="padding-top margin-top border-top" th:if="${preview == false}">
        <div th:replace="components/story :: share(story=${story})"></div>
    </div>

    <!-- Author -->
    <div class="border padding margin-top">
        <div th:replace="components/story :: author(${story.user})"></div>
    </div>
</article>

<script>
    var lastScrollPercent = -1;

    $(document).ready(function(){

        wutsi.track('readstart');
        window.addEventListener('beforeunload', function(){
            wutsi.track('readend');
        });

        $('.content img[async-src]').each(function() {
            $(this).attr("src", $(this).attr("async-src"));
        });

        $(window).on('scroll', function(){
            var s = $(window).scrollTop(),
                d = $(document).height(),
                c = $(window).height();

            var scrollPercent = ((s / (d - c)) * 100) | 0;
            if (scrollPercent % 20 == 0 && scrollPercent > lastScrollPercent && scrollPercent > 0){
                const tmpScrollPercent = lastScrollPercent;
                lastScrollPercent = scrollPercent;
                console.log('ScrollPercent', scrollPercent);
                wutsi.track('scroll', scrollPercent)
                    .catch(function(){
                        lastScrollPercent = tmpScrollPercent;
                    })
                ;
            } else {
                lastScrollPercent = scrollPercent;
            }
        })
    });

</script>

<div th:replace="components/layout :: footer"></div>

<script id="g_one_tap_script" src="https://accounts.google.com/gsi/client" th:if="${googleOneTap}"></script>
<script id="g_one_tap_callback" th:if="${googleOneTap}">
    function g_one_tap_callback(response) {
        console.log('g_one_tap_callback', response);
        wutsi.httpGet('/login/onetap/callback?credential=' + response.credential, true)
            .then(function(data){
                wutsi.httpGet(data.url, false);
            });
    }
</script>
</body>

</html>
