<section class="padding margin-top border post rounded"
         th:each="story: ${stories}"
         th:if="!${stories.isEmpty()}"
>
    <div th:replace="components/story :: card(${story})"></div>
</section>

<!-- 1st post -->
<div id="create-first-story" class="alert alert-primary margin-top-2x"
     th:if="${stories.isEmpty()} AND ${showCreatePanel}"
>
    <p th:text="#{story.create_first_story}">Create First Story</p>
    <div>
        <a id="btn-create-story" class="btn btn-primary" href="/me/draft" th:text="#{button.create_first_story}">Create Story</a>
    </div>
</div>


<script>
    $(document).ready(function(){
        wutsi.domReady();
    });
</script>
