<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container main-content border margin-top padding-2x">

    <div class="row border-bottom">
        <div class="col-12 padding">
            <div class="float-left status-published" th:text="#{story.status.published}">Published</div>

            <div class="close">
                <a wutsi-track-event="close" th:href="'/story/published'">X</a>
            </div>
        </div>
    </div>

    <div class="row margin-top-2x">
        <!-- Preview -->
        <div class="col-12 col-md-5 jumbotron border">
            <h5 th:text="${story.title}">Title</h5>
            <p th:text="${story.summary}">Summary</p>
        </div>

        <div class="col-md-2"></div>

        <div class="col-12 col-md-5">

            <!-- Wizard -->
            <div class="wizard">
                <ul class="step-indicator">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <!-- Confirmation -->
            <div class="margin-top alert alert-success">
                <span th:utext="#{page.story.confirmation.firstStory(${user.fullName})}"  th:if="${firstStory}">Description</span>
                <span th:utext="#{page.story.confirmation.description(${user.fullName})}" th:if="!${firstStory}">Description</span>
            </div>

            <div class="margin-top-2x" th:utext="#{page.story.confirmation.share}">Share your story</div>
            <div class="margin-top">
                <a class="float-left" wutsi-track-event="read" th:text="#{button.read_story}"  th:href="${story.slug}">Read</a>
                <a class="float-right btn btn-primary" wutsi-track-event="share" th:text="#{button.share_story}"  th:href="'/story/' + ${story.id} + '/share'">Share</a>
            </div>
        </div>
    </div>

</div>

<div th:replace="components/layout :: footer"></div>
</body>

</html>
