<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container">
    <div class="editor border margin-top">
        <div class="row">
            <div class="col-12">
                <div class="title-container">
                    <input id="title" name="title" value="" th:placeholder="#{page.editor.title}"  autocomplete="off"/>
                </div>

                <div class="editorjs-container">
                    <div id="editorjs"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<!--
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script>
-->
<script th:inline="javascript">
/*<![CDATA[*/
    var storyId = /*[[${storyId}]]*/'0';

    var dirty = false;
    function set_dirty(value) {
        console.log('set_dirty', value);
        dirty = value;
    }

    var editorjs;
    function editorjs_init(story) {
        if (story) {

            $('#title').val(story.title);
            editorjs = new EditorJS({
                holderId: 'editorjs',
                autofocus: true,
                data: JSON.parse(story.content),
                onChange: function () {
                    set_dirty(true);
                }
            });

        } else {

            editorjs = new EditorJS({
                holderId: 'editorjs',
                autofocus: true,
                onChange: function () {
                    set_dirty(true);
                }
            });

        }

        set_dirty(false);
    }

    function editorjs_save() {
        if (dirty){
            console.log("Saving story");
            editorjs
                .save()
                .then(function(data){
                    set_dirty(false);
                    const request = {
                        id: storyId,
                        title: $('#title').val(),
                        content: JSON.stringify(data)
                    };

                    wutsi
                        .save_story(request)
                        .then(function (story){
                            storyId = story.id;
                        })
                        .catch(function (error){
                            console.error('Error while saving the document', error);
                            set_dirty(true);
                        });
                })
                .catch(function(error){
                    console.error("Save Error", error);
                });
        } else {
            console.log("Document not dirty. Nothing to save");
        }
    }
    setInterval(editorjs_save, wutsi.config.editor.autosave);


    $(document).ready(function(){
        if (storyId > 0){
            wutsi.story(storyId)
                .then( function(story) { editorjs_init(story)})
                .catch(function(error) { console.log('Unable to load the story', error) });
        } else {
            editorjs_init(null);
        }

        // Event handlers
        $('#title').on('keydown', function(){ set_dirty(true)} );

        window.addEventListener('beforeunload', function(){ editorjs_save() });
    });
/*]]>*/
</script>

<div th:replace="components/layout :: footer"></div>
</body>

</html>
