<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container editor border margin-top">

    <div class="row border-bottom">
        <div class="col-12 padding">
            <div id="story-status-draft" class="story-status margin-right hidden" th:text="#{story.status.draft}">Draft</div>
            <div id="story-status-published" class="story-status margin-right hidden" th:text="#{story.status.published}">Published</div>

            <div id="story-alert-saving" class="story-status hidden" th:text="#{page.editor.saving}">Saving...</div>
            <div id="story-alert-saved" class="story-status hidden" th:text="#{page.editor.saved}">Saving...</div>

            <div class="close">
                <a href="/story/draft">X</a>
            </div>
        </div>
    </div>

    <div class="row border-bottom">
        <div class="col-12 padding title-container">
            <input id="title" name="title" value="" th:placeholder="#{page.editor.title}"  autocomplete="off"/>
        </div>
    </div>

    <div class="row">
        <div class="col-12 editorjs-container">
            <div id="editorjs"></div>
        </div>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
<!--
<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script>
-->
<script th:inline="javascript">
/*<![CDATA[*/
    var storyId = /*[[${storyId}]]*/'0';

    var dirty = false;
    function set_dirty(value) {
        console.log('set_dirty', value);
        dirty = value;
        if (dirty){
            show_status('#story-alert-saved', false);
        }
    }

    var editorjs;
    function init(story) {
        console.log('Initializing');
        init_editorjs(story);
        init_status(story);
    }
    function init_editorjs(story) {
        console.log('Initializing EditorJS');

        var tools = {
            header: Header,
            marker: Marker,
            quote: Quote,
            delimiter: Delimiter,
            code: CodeTool
        };
        if (story) {
            console.log('Initializing editor with Story#' + story.id);
            $('#title').val(story.title);
            editorjs = new EditorJS({
                holderId: 'editorjs',
                autofocus: true,
                tools: tools,
                data: JSON.parse(story.content),
                onChange: function () {
                    set_dirty(true);
                }
            });

        } else {
            console.log('Initializing empty editor');

            editorjs = new EditorJS({
                holderId: 'editorjs',
                autofocus: true,
                tools: tools,
                onChange: function () {
                    set_dirty(true);
                }
            });
        }

        set_dirty(false);
    }
    function init_status(story) {
        console.log('Initializing Status');

        show_status('#story-status-draft', !story || story.draft);
        show_status('#story-status-published', story && story.published);
        show_status('#story-alert-saved', story && !dirty);
    }

    function editorjs_save() {
        if (dirty){
            console.log("Document is dirty.Saving...");

            show_status('#story-alert-saving', true);
            editorjs
                .save()
                .then(function(data){
                    set_dirty(false);

                    const request = {
                        id: storyId,
                        title: $('#title').val(),
                        content: JSON.stringify(data)
                    };

                    wutsi
                        .save_story(request)
                            .then(function (story){
                                storyId = story.id;
                            })
                            .catch(function (error){
                                console.error('Error while saving the document', error);
                                set_dirty(true);
                            })
                            .finally(function(){
                                show_status('#story-alert-saving', false);
                                show_status('#story-alert-saved', !dirty);
                            });
                })
                .catch(function(error){
                    console.error("Save Error", error);
                });
        } else {
            console.log("Document not dirty. Nothing to save");
        }
    }
    setInterval(editorjs_save, wutsi.config.editor.autosave);

    function show_status(selector, show){
        if (show){
            $(selector).css('display', 'inline-block');
        } else {
            $(selector).css('display', 'none');
        }
    }

    $(document).ready(function(){
        if (storyId > 0){
            wutsi.story(storyId)
                .then( function(story) { init(story)})
                .catch(function(error) { console.error('Unable to load the Story#' + storyId, error) });
        } else {
            init(null);
        }

        // Event handlers
        $('#title').on('keydown', function(){ set_dirty(true)} );

        window.addEventListener('beforeunload', function(){
            console.log('Unloading the window');
            editorjs_save()
        });
    });
/*]]>*/
</script>

<div th:replace="components/layout :: footer"></div>
</body>

</html>
