<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container border main-content margin-top-2x padding-2x story-list">
    <!-- Title -->
    <h1 th:text="#{page.story.published.header1}">My Stories</h1>

    <!-- Pills -->
    <ul class="nav nav-pills margin-top-2x">
        <li class="nav-item">
            <a class="nav-link" href="/story/draft">
                <span th:text="#{story.status.draft}">Draft</span>
                <span class="badge badge-light" th:text="${totalDraftStories}" th:if="${totalDraftStories} GT 0">9</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <span th:text="#{story.status.published}">Published</span>
                <span class="badge badge-dark" th:text="${totalPublishedStories}" th:if="${totalPublishedStories} GT 0">9</span>
            </a>
        </li>
    </ul>

    <!-- Stories -->
    <div class="row padding margin-bottom border-bottom" th:each="story : ${stories}" th:if="!${stories.isEmpty()}">
        <div class="story col-12">
            <a th:href="${story.slug}">
                <h3 class="title" th:text="${story.title}">Title</h3>
                <h3 class="disabled" th:text="#{story.no_title}" th:if="${story.title.isEmpty()}">Title</h3>

                <div class="summary" th:text="${story.summary}">Summary</div>
                <div class="disabled" th:text="#{story.no_summary}" th:if="${story.summary.isEmpty()}">Summary</div>
                <div class="meta">
                    <span th:text="#{label.published}">Published:</span> <span th:text="${story.publishedDateTime}">2 days ago</span>
                    -
                    <span th:text="#{story.read_time(${story.readingMinutes})}" th:if="${story.readingMinutes} GT 0">6 min</span>
                    (<span th:text="#{story.word_count(${story.wordCount})}">250 mots</span>)
                </div>
            </a>
        </div>
    </div>
    <div class="border jumbotron margin-top col-12 col-md-6" th:if="${stories.isEmpty()}">
        <div th:if="${totalStories} GT 0">
            <p th:utext="#{page.story.published.no_story}">You have not post any story yet.</p>
        </div>
    </div>

</div>

<div th:replace="components/layout :: footer"></div>
</body>

</html>
