<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container main-content border margin-top padding-2x">
    <div class="row border-bottom">
        <div class="col-12 padding">
            <div class="float-left status-draft" th:text="#{story.status.draft}" th:if="${story.draft}">Draft</div>
            <div class="float-left status-published" th:text="#{story.status.published}" th:if="${story.published}">Published</div>

            <div class="close">
                <a th:href="'/story/' + ${story.id} + '/editor'">X</a>
            </div>
        </div>
    </div>

    <div class="row margin-top-2x">

        <!-- Preview -->
        <div class="col-12 col-md-5 jumbotron border">
            <h5 th:text="${story.title}" th:if="!${story.title.isEmpty()}">Title</h5>
            <h5 class="disabled" th:text="#{story.no_title}" th:if="${story.title.isEmpty()}">Title</h5>

            <p th:text="${story.summary}">Summary</p>
            <p class="disabled" th:text="#{story.no_summary}" th:if="${story.summary.isEmpty()}">Summary</p>
        </div>

        <div class="col-md-2"></div>

        <div class="col-12 col-md-5">

            <!-- Wizard -->
            <div class="wizard">
                <ul class="step-indicator">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <!-- Publish Form -->
            <form id="form-publish" method="get" action="/me/story/publish/submit" autocomplete="off" class="margin-top">
                <input type="hidden" name="id" th:value="${story.id}" />

                <div class="form-group margin-bottom">
                    <div th:text="#{page.story.publish.tag_info}">Tags</div>
                    <select id="tags" class="form-control" name="tags" multiple="multiple">
                        <option selected="selected" th:value="${tag.name}" th:text="${tag.name}" th:each="tag : ${story.tags}">Tag</option>
                    </select>
                </div>

                <div class="margin-top-2x">
                    <button id="btn-publish" type="submit" class="float-right btn btn-primary" disabled="disabled"
                            th:if="${story.draft}"
                            th:text="#{button.publish_now}"
                    >Publish Now</button>

                    <button id="btn-publish" type="submit" class="float-right btn btn-primary" disabled="disabled"
                            th:if="${story.published}"
                            th:text="#{button.save}"
                    >Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>
</body>

<script>
    $('#tags').select2({
        ajax: {
            url: '/tag/search',
            dataType: 'json'
        },
        tags: true,
        tokenSeparators: [',', ' '],
        minimumInputLength: 3
    });

    $('#tags').on('change', function(){
        on_change();
    });

    $('#form-publish').submit(function(){
        enable_publish(false);
    });


    function on_change(){
        const data = $('#tags').select2('data');
        enable_publish(data && data.length > 0);
    }

    function enable_publish(flag){
        if (flag){
            $('#btn-publish').removeAttr('disabled');
        } else {
            $('#btn-publish').attr('disabled', 'disabled');
        }
    }

    $(document).ready(function (){
        on_change();
    })
</script>
</html>
