<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body class="paper">

<div th:replace="components/layout :: navbar"></div>

<div class="container offset-md-2 col-md-8">

    <!-- Article -->
    <article class="border padding reader main-content margin-top">
        <h1 class="title" th:text="${story.title}">Title</h1>

        <!-- Author -->
        <div class="margin-top uppercase text-small">
            <div>
                <span th:text="#{label.by}">By</span>
                <a th:href="${story.user.slug}">
                    <b th:text="${story.user.fullName}">Ray Sponsible</b></a>
            </div>
            <div>
                <span th:text="${story.readingMinutes}">2</span>
                <span th:text="#{label.minutes}">min</span>
            </div>
        </div>

        <!-- Content -->
        <div class="content margin-top" th:utext="${html}">This is a block</div>

        <!-- Add to homescreen -->
        <section class="margin-top" th:if="${toggles.pwa}">
            <div th:replace="components/pwa :: a2hs-card"></div>
        </section>

        <!-- Tags -->
        <div class="tag-container margin-top">
            <div class="tag margin-bottom margin-right" th:each="tag : ${story.tags}">
                <span th:text="${tag.displayName}">Tag</span>
            </div>
        </div>

        <!-- Share -->
        <div class="padding-top margin-top border-top text-center" th:if="!${preview}">
            <div th:replace="components/story :: share(story=${story})"></div>
        </div>
    </article>

    <!-- Recommendations -->
    <div id="recommendation-container" class="margin-top" th:if="${toggles.recommendation}"></div>
    <script th:inline="javascript" th:if="${toggles.recommendation}">
        /*<![CDATA[*/

        var storyId = /*[[${story.id}]]*/'0';
        wutsi.httpGet('/read/recommend/' + storyId, false)
            .then(function(html){
                $('#recommendation-container').html(html);
            })

        /*]]>*/
    </script>

    <!-- Author -->
    <div class="container border rounded main-content margin-top">
        <div class="padding">
            <div th:replace="components/story :: author-card(${story.user})"></div>
        </div>
    </div>
</div>


<div th:replace="components/google :: one_tap"></div>
<div th:replace="components/layout :: footer"></div>


<script src="https://platform.twitter.com/widgets.js" charset="utf-8" th:if="${twitterEmbed}"></script>
<script th:if="${twitterEmbed}">
    $(document).ready(function(){
        $('.tweet').each( function( t, tweet ) {

            var id = jQuery(this).attr('data-id');
            twttr.widgets.createTweet(
                id, tweet,
                {
                    conversation : 'none',    // or all
                    cards        : 'hidden',  // or visible
                    linkColor    : '#1D7EDF', // default is blue
                    theme        : 'light'    // or dark
                });
        });
    });
</script>

<script>

    var lastScrollPercent = -1;

    $(document).ready(function(){

        wutsi.track('readstart');
        window.addEventListener('beforeunload', function(){
            wutsi.track('readend');
        });

        $(window).on('scroll', function(){
            var s = $(window).scrollTop(),
                d = $(document).height(),
                c = $(window).height();

            var scrollPercent = ((s / (d - c)) * 100) | 0;
            if (scrollPercent % 20 == 0 && scrollPercent > lastScrollPercent && scrollPercent > 0){
                const tmpScrollPercent = lastScrollPercent;
                lastScrollPercent = scrollPercent;
                console.log('ScrollPercent', scrollPercent);
                wutsi.track('scroll', scrollPercent)
                    .catch(function(){
                        lastScrollPercent = tmpScrollPercent;
                    })
                ;
            } else {
                lastScrollPercent = scrollPercent;
            }
        })
    });


</script>
</body>

</html>
