<div class="container border rounded main-content">
    <div class="padding">
        <h3 th:text="#{label.read_also}">Read Also</h3>
        <section class="padding-top margin-top border-top post" th:each="story,it : ${stories}" th:if="!${stories.isEmpty()}">
            <div th:if="${layout} == 'card'">
                <div th:replace="components/story :: story-card(${story}, 'xread', ${it.index})"></div>
            </div>
            <div th:if="${layout} == 'summary'">
                <div th:replace="components/story :: story-summary-card(${story}, true, 'xread', ${it.index})"></div>
            </div>
        </section>
        <section class="padding-top margin-top border-top text-center">
            <a class="btn btn-primary btn-read-more" href="/" wutsi-track-event='xread-more' th:text="#{button.read_more_stories}">Discover Move Stories</a>
        </section>
    </div>
</div>

<script>
    $(document).ready(function(){
        wutsi.domReady();
    });
</script>
