<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container main-content border margin-top padding-2x">
    <div class="row border-bottom">
        <div class="col-12 padding">
            <div class="float-left status-published" th:text="#{story.status.published}">Published</div>

            <div class="close">
                <a wutsi-track-event="close" th:href="'/story/published'">X</a>
            </div>
        </div>
    </div>

    <div class="row margin-top-2x">

        <!-- Preview -->
        <div class="col-12 col-md-5 jumbotron border">
            <h5 th:text="${story.title}">Title</h5>
            <p th:text="${story.summary}">Summary</p>
        </div>

        <div class="col-md-2"></div>

        <div class="col-12 col-md-5">

            <!-- Wizard -->
            <div class="wizard">
                <ul class="step-indicator">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                </ul>
                <div class="clearfix"></div>
            </div>


            <!-- Share -->
            <div class="margin-top" th:text="#{page.story.share.message}">Message</div>

            <a id="facebook-share" class="sso-button margin-top-2x" wutsi-track-event="share.facebook" th:href="'https://www.facebook.com/sharer/sharer.php?u=' + ${url}">
                <i class="fab fa-facebook-square"></i>
                <span th:text="#{page.story.share.share-facebook}">Sign in with Facebook</span>
            </a>
            <a id="twitter-share" class="sso-button margin-top" href="#" wutsi-track-event="share.twitter" th:href="'http://www.twitter.com/share?url=' + ${url}">
                <i class="fab fa-twitter-square"></i>
                <span th:text="#{page.story.share.share-twitter}">Sign in with Twitter</span>
            </a>
            <a id="linkedin-share" class="sso-button margin-top" href="#" wutsi-track-event="share.linkedin" th:href="'https://www.linkedin.com/shareArticle?mini=true&url=' + ${url}">
                <i class="fab fa-linkedin"></i>
                <span th:text="#{page.story.share.share-linkedin}">Sign in with LinkedIn</span>
            </a>

            <div class="margin-top">
                <a class="float-left" wutsi-track-event="read" th:text="#{button.read_story}"  th:href="${story.slug}">Read</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>
</body>

</html>
