<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container main-content border margin-top padding-2x">

    <!-- Title -->
    <h1 th:text="#{page.story.syndicate.header1}">Import a Story</h1>
    <p th:text="#{page.story.syndicate.description}"></p>

    <!-- Form -->
    <form method="GET" action="/me/syndicate/import" class="margin-top-2x">
        <div class="alert alert-danger" th:if="${error}" th:text="#{error.syndicate_error}">Error</div>

        <div class="form-group">
            <input id="url" class="form-control" type="url" name="url" required="required" placeholder="http://www.votre-site.com/votre-storie" />
        </div>

        <button id="btn-submit" class="btn btn-primary" type="submit" th:text="#{button.import}">Imprt</form>
    </form>


</div>

<div th:replace="components/layout :: footer"></div>
</body>

</html>
