<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container margin-top-2x">
    <div class="row">
        <div class="col-12 main-content offset-md-2 col-md-8 border padding-2x">

            <!-- Title -->
            <div class="margin-top-2x text-center">
                <div th:replace="components/story :: wizard(3, 2)"></div>
                <h1 class="margin-top" th:text="#{page.story.publish.header1}">Title</h1>
                <h4 th:text="#{page.story.publish.tag}">Summary</h4>
            </div>

            <!-- Error -->
            <div class="alert alert-danger"
                 th:text="#{error.publish_error}"
                 th:if="${error}"
            >Error</div>

            <!-- Publish Form -->
            <form id="form-publish" method="get" action="/me/story/tag/submit" autocomplete="off" class="margin-top-2x">
                <input type="hidden" name="id" th:value="${story.id}" />

                <div class="form-group margin-bottom">
                    <p th:text="#{page.story.publish.tag.info}">Information</p>
                    <select id="tags" class="form-control" name="tags" multiple="multiple">
                        <option selected="selected" th:value="${tag.name}" th:text="${tag.name}" th:each="tag : ${story.tags}">Tag</option>
                    </select>
                </div>

                <!-- Toolbar -->
                <div class="margin-top padding-top border-top">
                    <a th:href="'/me/story/' + ${story.id} + '/readability'" class="btn btn-light float-left" th:text="#{button.previous}">Previous</a>

                    <button id="btn-publish" type="submit" class="float-right btn btn-primary" disabled="disabled"
                            th:if="${story.draft}"
                            th:text="#{button.publish_now}"
                    >Publish Now</button>

                    <button id="btn-publish" type="submit" class="float-right btn btn-primary" disabled="disabled"
                            th:if="${story.published}"
                            th:text="#{button.save}"
                    >Save</button>
                </div>

            </form>
        </div>
    </div>

</div>

<div th:replace="components/layout :: footer"></div>
</body>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script>
    $('#tags').select2({
        ajax: {
            url: '/tag/search',
            dataType: 'json',
            delay: 1000,
            processResults: function (tags) {
                const xtags = tags.map(function(tag){
                    return {
                        id: tag.name,
                        text: tag.totalStories == 0
                            ? tag.name
                            : tag.name + ' (' + tag.totalStories + ')'
                    }
                });
                return {
                    results: xtags
                };
            }
        },
        tags: true,
        tokenSeparators: [','],
        minimumInputLength: 3
    });

    $('#tags').on('change', function(){
        on_change();
    });

    $('#form-publish').submit(function(){
        enable_publish(false);
    });


    function on_change(){
        const data = $('#tags').select2('data');
        enable_publish(data && data.length > 0);
    }

    function enable_publish(flag){
        if (flag){
            $('#btn-publish').removeAttr('disabled');
        } else {
            $('#btn-publish').attr('disabled', 'disabled');
        }
    }

    $(document).ready(function (){
        on_change();
    })
</script>
</html>
