<table class="table">
    <tbody>
        <tr th:each="productChannel: ${productChannels}">
            <td class="label">
                <div>
                    <img class="channel-logo" th:alt="${productChannel.channel.displayName}" th:src="${productChannel.channel.logoUrl}"/>
                    <span th:text="${productChannel.channel.displayName}">Channel</span>
                </div>
            </td>
            <td class="product-published text-right" th:id="'product-channel-' + ${productChannel.channel.id}">
                <div class="channel-not-published" th:if="!${productChannel.published}" th:text="#{not_published}">Not Published</div>
                <div class="channel-published" th:if="${productChannel.published}">
                    <span th:text="#{published}">Published</span>
                    -
                    <span th:text="${productChannel.publishedDateTime}">2012-20-12</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
