<table class="table product-contacts">
    <tbody>
    <tr th:each="contactRole: ${contactRoles}" class="contact">
        <td th:text="#{'contact.role.' + ${contactRole}}" class="label">Name</td>
        <td>
            <a class="contact"
               th:each="contact: ${contacts.get(contactRole)}"
               th:text="${contact.displayName}"
               th:href="'/contact/' + ${contact.id}"
            >Contact Name</a>
        </td>
        <td>
            <a class="btn-sm float-right"
               th:href="'/product/' + ${productId} + '/contact?contactRole=' + ${contactRole}"
               th:text="#{edit}"
            >Modifier</a>
        </td>
    </tr>
    </tbody>
</table>
