<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div class="container">
    <div class="row margin-top-2x">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

            <div class="main-content border padding-2x text-center margin-top-2x">
                <div class="wizard margin-top">
                    <ul class="step-indicator">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <h1 class="margin-top" th:text="#{page.welcome.fullname.header1}">Login</h1>
                <p class="margin-top" th:text="#{page.welcome.fullname.info}"></p>

                <div class="alert alert-danger padding-top" th:if="${error}" th:text="${error}">Error</div>

                <form method="GET" action="/welcome/fullname/submit">
                    <input class="form-control margin-bottom" required="required" maxlength="100"
                           name="value"
                           th:value="${value}"
                    />
                    <div class="margin-top">
                        <a id="btn-previous" class="btn btn-light float-left" href="/welcome" th:text="#{button.previous}">Previous</a>
                        <button id="btn-next" type="submit" class="btn btn-primary float-right" th:text="#{button.next}">Next</button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>
</body>
</html>
