<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" th:lang="${page.language}">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div class="container">
    <div class="row margin-top-4x margin-bottom-4x">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6 margin-top-2x">

            <div class="main-content border padding-2x text-center margin-top-2x">

                <h1 class="margin-top" th:text="#{page.welcome.header1}">Login</h1>
                <h2><i class="fas fa-check-circle"></i></h2>
                <h4 class="margin-top alert alert-success" th:utext="#{page.welcome.info.success(${user.fullName})}"></h4>

                <div class="margin-top-2x">
                    <a id="btn-my-blog" class="btn btn-primary float-right" th:href="${user.slug}" th:text="#{button.my_blog}">My Blog</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>
</body>
</html>
