<div th:if="${show}">
    <div id="read-all-languages-panel" class="alert alert-info margin-top rounded">
        <p th:utext="#{panel.language.message}">Are you interested in reading article in both languages?</p>
        <button class="btn btn-primary btn-read-all-languages" data-value="true" wutsi-track-event="read-all" wutsi-track-value="1" th:text="#{label.yes}">Yes</button>
        <button class="btn btn-light btn-read-all-languages" data-value="false"  wutsi-track-event="read-all" wutsi-track-value="0" th:text="#{label.no}">No</button>
    </div>

    <script>
        $('button.btn-read-all-languages').click(function(){
            const value = $(this).attr('data-value');
            wutsi.httpGet('/language/read-all/set?value=' + value, false)
                .then(function(){
                    if (value == 'true'){
                        window.location.reload();
                    }
                }).finally(function(){
                    $('#read-all-languages-panel').fadeOut();
                });
        });
    </script>
</div>
