<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="components/layout :: sidebar"></div>
        </div>
        <div class="col-md-7 main-content">
            <section>
                <h2 class="payment-info">
                    <img class="logo" th:src="${paymentMethod.logoUrl}" />
                    <span th:text="${paymentMethod.displayName}">Payment Method</span>
                </h2>
                <div th:text="${paymentMethod.description}">Description</div>
                <div>
                    <b th:text="#{transaction_fees}">Fees</b>:<span th:text="${paymentMethod.feesPercent}">5.0</span>%
                </div>
            </section>

            <form id="product-form" th:action="@{'/settings/payment/' + ${paymentMethod.id} + '/save'}" th:object="${paymentMethod}" method="post">
                <section>
                    <div class="form-check">
                        <input type="checkbox" id="enabled" name="enabled" th:checked="*{enabled}" class="form-check-input" />
                        <label for="enabled" th:text="#{payment.enable}">Enable</label>
                    </div>
                    <div class="form-group">
                        <label th:text="#{instructions}">Instructions</label>
                        <textarea id="instructions" th:field="*{instructions}" class="form-control ckeditor" rows="5"></textarea>
                        <small class="form-text text-muted" th:text="#{payment.instructions.help}">Help</small>
                    </div>
                </section>

                <div class="btn-group">
                    <button id="btn-submit" type="submit" class="btn btn-sm btn-primary" th:text="#{save}">Enregistrer</button>
                    <a id="btn-cancel" class="btn btn-sm" th:href="${linkCancelUrl}" th:text="#{cancel}">Annuller</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>

</body>

</html>
